.container{
    display: flex;
    flex-wrap: row;
    width: 100%;
    height: 800px;
    margin: 3px;
    padding-left: 3%;
    padding-top: 1%;
    padding-right: 8%;
    padding-bottom: 2%;
    justify-content: space-between;
    background: #cfe0f3;

}

.block{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    width: 24%;
    border: 1px solid #2A86E4;
    background-color: #EAF2FB;
    border-radius: 6px;
    
}

.circulo{   
    width: 10%;
    margin:auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid white;
    border-radius: 100%;
}


.pasos{
    background-color:  #2a86e4;
    color: white;
    text-align: center;
    padding: 16px 103px;
    width: 100%;
    height: 16%;
    
}
.textoini{
    position: absolute;
    width: 170px;
    height: 84px;
    left: 170px;
    top: 550px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    color: #2A86E4;
    opacity: 0.5;
}

.genero{
    margin: 1.5%;
    padding: 1%;
    
}

.gender{
    display: flex;
    justify-content: space-between;
    width: 98%;
    padding: 3%;
}

.btnGender{
    background: #FFFFFF;
    border: 1px solid #2A86E4;
    box-sizing: border-box;
    border-radius: 5px;
}

.promos{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 2.5%;   
      
}
.promosH{
    padding: 2%;
    
}
.promosM{
    padding: 2%;
}
.promosT{
    padding: 2%;
}
.seleccion{
    background: #EAF2FB;
    color: #270165;
    text-align: center;
    padding: 16px 103px;
}
.finalizar{
    background: #EAF2FB;
    color: #270165;
    text-align: center;

}
.back{
    background: #cfe0f3;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    position: absolute;
    bottom: -1px;
    width: 21.3%;
    border: 1px solid #2A86E4;     
    

} 
.btnAzul{
    width: 45px;
    margin: 1%;
}

.promo{
    position: relative;
    width: 44%;
    height: 70px;
    color: #146ac0;
    font-size: 18px;
    margin: 3%;
    background: #EAF2FB;
    border: 1px solid #2a87e4b9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.X{ 
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px #2A86E4 solid;
    font-style: normal;
    font-weight: bold;
    margin: 5%;
    left: 10%;
    color: #2A86E4;
    padding-top: 7%;
    padding-left: 6%;
    
    
}
.price{
    margin: 3%;
    padding: 2%;
    position: relative;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    color: #2A86E4;

}
.leyenda{
    align-self: initial;
    
}
.descuento{
    position: absolute;
    font-size: 12px;
    text-align: center;
    padding: 1%;
    top: 50%;
    left:40%;
    color: #146ac08f;


}

.imgselection{
    width: 4rem;
    height: 4rem;
    border-radius: 150px;
    border: 3px #2a86e4 dashed;
    position: relative;
    padding: 3%;
    margin: 1%;
    left: 10%;
}

.imgselected{
    width: 50%;
    position: relative;
    left: 25%;
    border-radius: 5px;
}
.product{
    text-align: center;
    color: #3b98f5;
}

.btn{
    position: relative;
    width: 55px;
    height: 35px;
    margin: 0.5%;
    align-self: center;
    background-color: #cbe3ff;
    color: #2a86e4;
    border: 1px solid #cbe3ff;
    border-radius: 5px;
}
.contTallas{
    text-align: center;
}
.active{
    background-color: #270165;
    color: #cbe3ff;
    border-radius: 5px;
}

.carritoProd{
    display: flex;
    flex-direction: row;
}

.variants{
    display:flex;
    flex-wrap: wrap;
}

.imgCarro{
    width: 3rem;
    height: 3rem;
    border-radius: 150px;
    border: 4px #2a86e4 solid;
    position: relative;
    
    margin: 1%;
    left: 5%;
}

.carrito{
    display: flex;
    flex-direction: column;
}

.nomCarro{
    margin-left: 4%;
    font-size: 13px;
    width: 50%;
}
.prodItemID{
    display: none;
}

.prodCant{
    margin-top: 10%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #FF408D;
    border-radius: 150px;
    border: 1px #FF408D solid;
    z-index: 1;
}
.numero{
    align-self: center;
    text-align: center;
    margin: 1%;
}
.agregar{
    margin: 3%;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-color:#cbe3ff ;
    border-style:outset;
    background: #cbe3ff;
    color: #2a86e4;
}
.quality{
    width: 350px;
}
.rest{
    border: 2px outset #cbe3ff;
    margin: 2%;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background: #cbe3ff;
    color: #270165;
    
}
.input{
    width: 80px;
    text-align: center;
    height: 30px;
    color: #270165;
    border: 2px solid #cbe3ff;
    border-radius: 5px;
    background: #cbe3ff;
}
.sum{
    border: 2px outset #cbe3ff;
    margin: 2%;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background: #cbe3ff;
    color: #270165;
}


