@charset "UTF-8";
/* Media Queries List
@media screen and (min-device-width: 1420px){}
@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {}
@media screen and (min-device-width: 770px) and (max-device-width: 1023px) {}
@media screen and (min-device-width: 546px) and (max-device-width: 769px) {}
*/
.pack_propulsow {
  font-family: Raleway;
  display: block !important;
  width: 100%;
  padding: 0rem 0rem 1rem;
}

.pp_div {
  width: 95%;
  display: block;
  margin: 2rem auto;
  text-align: center;
  font-family: "Share Tech", sans-serif;
}

.pp_titulo {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
  color: #464646;
}

.pp_elemento {
  display: flex;
  width: 100%;
  align-items: center;
  background: #fff;
}

.pp_operador {
  font-size: 1rem;
  border: 2px solid #aaa;
  color: #aaa;
  padding: 0.6rem 0.9rem;
  border-radius: 25px;
  font-weight: 600;
  background: #fff;
  z-index: 3;
  position: relative;
}

/*TamaÃ±o imagen escritorio*/
.pp_item_imagen_img,
.pp_item_imagen_hidden,
.pp_item_imagen {
  border-radius: 15px 15px 0 0 !important;
  width: 100%;
}

.pp_item_primero,
.pp_item_segundo,
.pp_item_tercero {
  display: inline-block;
  width: 22%;
  height: 100%;
  opacity: 1;
  border: 1px solid #ddd;
  border-radius: 15px 15px 0 0;
  z-index: 2;
}

.pp_contenedor_inferior {
  background: white;
  min-height: 85px;
  max-height: 100px;
}

.pp_option_tallas {
  height: 1.2rem !important;
  font-size: 12px !important;
  width: 55% !important;
  border-radius: 2px !important;
}

.pp_total {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding: 2rem;
  border-radius: 1rem;
  background: #f3f3f3;
  width: 40%;
  height: 22rem;
}

.pp_total_p {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 21px;
  color: #444;
}

.pp_item_desactivado {
  opacity: 0.6 !important;
}

.pp_item_desactivado .pp_boton_eliminar {
  opacity: 1 !important;
}

.total__price {
  color: #FF408D !important;
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: 800;
}

/*Botones*/
.pp_item_actions {
  display: flex;
  justify-content: space-evenly;
  margin: 0.8rem;
}

.pp_contenedor_boton_cambiar,
.pp_contenedor_boton_eliminar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF408D;
  height: 2rem;
  width: 5.5rem;
  border-radius: 4px;
}

.pp_contenedor_boton_eliminar {
  background: #2A86E4 !important;
}

.pp_item_flechas,
.pp_item_x {
  height: 0.8rem;
}

.pp_boton_cambiar,
.pp_boton_eliminar {
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: none;
  border: none;
}

.pp_boton_cambiar:hover {
  cursor: pointer;
  opacity: 0.6;
}

.pp_boton_eliminar:hover {
  cursor: pointer;
  opacity: 0.6;
}

.pp_boton_agregar {
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background: #FF408D;
  height: 2rem;
  width: 5.5rem;
  border-radius: 4px;
  border: none;
  transition: all 0.3s ease-out;
  letter-spacing: 0px;
}

.pp_boton_agregar:hover {
  background: linear-gradient(90deg, #FF408D, #2A86E4);
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.8px;
}

.pp_boton_comprar {
  border: none;
  background: #2A86E4;
  padding: 10px 30px;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: 800;
  text-align: center;
  font-size: 15px;
  transition: all 0.3s ease-out;
  letter-spacing: 0px;
}

.pp_boton_comprar:hover {
  background: #2A86E4;
  cursor: pointer;
  letter-spacing: 0.8px;
}

.pp_item_tallas {
  margin-bottom: 0.5rem;
}

.pp_item_tallas_text {
  font-size: 16px !important;
}

.pp_item_tallas_off {
  display: none;
}

/*Elementos de Ficha*/
.pp_item_contenido {
  height: 4rem;
}

.pp_item_nombre {
  color: #555;
  font-size: 12px;
  font-weight: 800;
  width: 85%;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 0.5rem;
}

.pp_item_nombre:hover {
  text-decoration: none;
}

.pp_item_precio {
  font-size: 17px;
  letter-spacing: 1px;
  color: #444;
  font-weight: 600;
  margin: 0.5rem 0rem;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1420px) {
  .pp_elemento {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: white;
  }

  .pp_item_primero,
.pp_item_segundo,
.pp_item_tercero {
    display: inline-block;
    width: 25%;
    height: 100%;
    z-index: 2;
  }

  .pp_contenedor_inferior {
    background: white;
    min-height: 100px;
    max-height: 120px;
    margin-top: 2rem;
  }

  .pp_select,
.pp_select_none {
    width: 70%;
    border-radius: 5px;
    margin: 1rem 0rem;
  }

  .pp_contenedor_boton_cambiar,
.pp_contenedor_boton_eliminar,
.pp_contenedor_agregar {
    height: 2rem;
    width: 6rem;
  }

  .pp_item_nombre {
    font-size: 14px;
    margin-top: 1rem;
  }

  .pp_item_contenido {
    height: 3rem;
  }

  .pp_total {
    width: 40%;
    height: 15rem;
    margin-top: 3rem;
  }
}
@media screen and (min-device-width: 770px) and (max-device-width: 1023px) {
  .pp_elemento {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: white;
  }

  .pp_item_primero,
.pp_item_segundo,
.pp_item_tercero {
    display: inline-block;
    width: 24%;
    height: 100%;
    z-index: 2;
  }

  .pp_contenedor_inferior {
    background: white;
    min-height: 105px;
    max-height: 120px;
    margin-top: 1.5rem;
  }

  .pp_item_tallas {
    margin-bottom: 0.5rem;
  }

  .pp_select,
.pp_select_none {
    width: 60%;
    border-radius: 5px;
    margin: 0.5rem 0rem;
  }

  .pp_item_nombre {
    font-size: 12px;
  }

  .pp_item_actions {
    display: inline-block;
    justify-content: space-evenly;
    margin: 0 1.5rem;
  }

  .pp_contenedor_boton_cambiar,
.pp_contenedor_boton_eliminar,
.pp_contenedor_agregar {
    height: 1.5rem;
    margin-top: 0.2rem;
    width: 5rem;
  }

  .pp_item_flechas,
.pp_item_x {
    height: 0.7rem;
  }

  .pp_item_nombre {
    font-size: 11px;
    margin-top: 1rem;
  }

  .pp_item_contenido {
    height: 3rem;
  }

  .pp_total {
    margin-top: 2rem;
    width: 50%;
    height: 13rem;
  }

  .pp_boton_agregar {
    font-size: 12px;
    height: 1.5rem;
    margin-top: 0.8rem;
    width: 5rem;
  }
}
@media screen and (max-device-width: 769px) {
  .pp_titulo {
    font-size: 14px;
  }

  .pp_elemento {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: white;
  }

  .pp_item_primero,
.pp_item_segundo,
.pp_item_tercero {
    display: inline-block;
    width: 40%;
    height: 100%;
    z-index: 2;
    margin: 0.5rem;
  }

  .pp_contenedor_inferior {
    height: 100% !important;
    background: white;
    min-height: 0;
  }

  .pp_select,
.pp_select_none {
    width: 60%;
    border-radius: 5px;
    margin: 0.5rem 0rem;
  }

  .pp_item_nombre {
    font-size: 12px;
  }

  .pp_item_actions {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
  }

  .pp_contenedor_boton_cambiar,
.pp_contenedor_boton_eliminar,
.pp_contenedor_agregar {
    height: 1.5rem;
    margin-top: 0.2rem;
    width: 5rem;
  }

  .pp_item_flechas,
.pp_item_x {
    height: 0.7rem;
  }

  .pp_item_nombre {
    font-size: 11px;
    margin-top: 1rem;
  }

  .pp_item_contenido {
    height: 5rem;
  }

  .pp_total_p {
    font-size: 14px;
  }

  .total__price {
    font-size: 18px;
  }

  .pp_total {
    margin-top: 1rem;
    width: 60%;
    height: 13rem;
  }

  .pp_boton_agregar {
    font-size: 12px;
    height: 1.5rem;
    margin-top: 0.8rem;
    width: 5rem;
  }

  .pp_operador {
    margin: 0 auto;
    width: 40px;
    font-size: 1rem;
    border: 2px solid #aaa;
    color: #aaa;
    padding: 0.5rem 0.8rem;
    border-radius: 25px;
    font-weight: 600;
    background: #fff;
  }

  .pp_item_tallas {
    font-size: 12px;
    width: 100%;
    border-radius: 3px;
  }

  .pp_item_tallas_text {
    font-size: 12px;
  }
}
