.paragraph {
  font-family: "Raleway", sans-serif;
}

.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #4d4d4d;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}
.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}
.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}
.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}

.container--title {
  color: #03034e;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }
  .container--title .paragraph {
    line-height: 1.3em;
  }
}
/* textos: institucionales */
.heading--txt-institucional--title {
  color: #909090;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.paragraph--txt-institucional--p {
  color: #555;
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4rem;
  margin-bottom: 1.3rem;
}

@media (max-width: 991px) {
  .wrapper--txt-institucional--title,
.wrapper--txt-institucional--p {
    margin: 0 3.5rem;
  }
}
/* text landing 01: entre nosotras */
.paragraph--text-top {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0;
}
.paragraph--text-down {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.container--text-top, .container--text-down {
  font-family: "Raleway", sans-serif;
  color: white;
  justify-content: center;
}

/*sostenes - calzones text container*/
.paragraph--sosten-text, .paragraph--calzon-text {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 700;
  color: black;
}
.paragraph--descripcion-sosten-text {
  margin: 0;
  line-height: 1.1;
  padding-right: 20%;
  margin-bottom: 1rem;
}
.paragraph--descripcion-calzon-text {
  margin: 0;
  line-height: 1.1;
  padding-left: 20%;
  margin-bottom: 1rem;
}
.paragraph--talla-sosten {
  color: #ff0289;
  font-size: 1.3rem;
  font-weight: 700;
}
.paragraph--text-nueva-temporada {
  font-family: "Raleway", sans-serif;
  color: #ff0289;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}
.paragraph--text-entre-nosotras {
  font-family: "Raleway", sans-serif;
  color: #f91e93;
  font-weight: 500;
  font-size: 2rem;
  margin: 10%;
}

.container--descripcion-sosten-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 600;
  color: #2d2d2d;
}
.container--descripcion-calzon-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: right;
  margin-bottom: 20px;
  font-weight: 600;
  color: #2d2d2d;
}
.container--text-nueva-temporada {
  justify-content: center;
}

@media screen and (min-device-width: 1280px) and (max-device-width: 1439px) {
  .paragraph--text-top {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
  }
  .paragraph--text-down {
    font-size: 1.7rem;
    margin: 0;
  }
  .paragraph--sosten-text, .paragraph--calzon-text {
    font-size: 2.8rem;
  }
  .paragraph--talla-sosten {
    color: #ff0289;
    font-size: 1rem;
    font-weight: 700;
  }

  .container--descripcion-sosten-text, .container--descripcion-calzon-text {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1026px) and (max-width: 1279px) {
  .paragraph--text-top {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
  }
  .paragraph--text-down {
    font-size: 1.4rem;
    margin: 0;
  }
  .paragraph--sosten-text, .paragraph--calzon-text {
    font-size: 2rem;
  }
  .paragraph--talla-sosten {
    color: #ff0289;
    font-size: 1rem;
    font-weight: 700;
    width: 10rem;
  }
  .paragraph--descripcion-sosten-text {
    margin: 0;
    line-height: 1.05;
    padding-right: 20%;
  }
  .paragraph--descripcion-calzon-text {
    margin: 0;
    line-height: 1.05;
  }

  .container--descripcion-sosten-text, .container--descripcion-calzon-text {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 640px) and (max-width: 1025px) {
  .paragraph--text-top {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }
  .paragraph--text-down {
    font-size: 1rem;
    margin: 0;
  }
  .paragraph--sosten-text, .paragraph--calzon-text {
    font-size: 2.5rem;
  }
  .paragraph--talla-sosten {
    color: #ff0289;
    font-size: 1rem;
    font-weight: 700;
    width: 10rem;
  }
  .paragraph--descripcion-sosten-text {
    margin: 0;
    font-size: 1rem;
    margin: 1rem 0rem;
    line-height: 1.05;
    text-align: justify;
    padding-right: 0 !important;
  }
  .paragraph--descripcion-calzon-text {
    margin: 0;
    font-size: 1rem;
    margin: 1rem 0rem;
    line-height: 1.05;
    text-align: justify;
    padding-left: 0 !important;
  }

  .container--descripcion-sosten-text, .container--descripcion-calzon-text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 639px) {
  .paragraph--text-top {
    text-align: center;
    font-size: 1.85rem;
    font-weight: 600;
    margin: 0;
  }
  .paragraph--text-down {
    font-size: 0.85rem;
    margin: 0;
  }
  .paragraph--sosten-text, .paragraph--calzon-text {
    font-size: 2rem;
  }
  .paragraph--talla-sosten {
    color: #ff0289;
    font-size: 1rem;
    font-weight: 700;
    width: 10rem;
    margin-left: 1rem;
  }
  .paragraph--descripcion-sosten-text, .paragraph--descripcion-calzon-text {
    font-size: 1rem;
    margin: 1rem 0rem;
    line-height: 1.05;
    padding: 0;
    text-align: justify;
  }
  .paragraph--text-entre-nosotras {
    font-size: 1rem;
  }

  .container--descripcion-sosten-text, .container--descripcion-calzon-text {
    font-size: 0.8rem;
  }
}
.container--despacho-rm {
  justify-content: center;
}

.paragraph--despacho-rm {
  color: #267cb6;
  font-size: 11px;
  font-weight: 700;
  padding: 10px;
}

.container--falta-rm {
  justify-content: center;
}

.paragraph--falta-rm {
  font-size: 8px;
  color: #2d2d2d;
  padding: 10px;
}

.paragraph--top-left {
  color: white;
}

@media screen and (min-width: 300px) {
  .paragraph--especiales-parati {
    margin: 1.5rem 2rem;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-1);
    color: var(--color-2);
    font-family: raleway;
  }
}
.paragraph--titulo-shelf-1 {
  margin: 1.5rem 2rem;
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-1);
  color: var(--color-2);
  font-family: raleway;
}

.paragraph--titulo-shelf-3 {
  /* font-size: 1.2rem; */
  font-weight: 700;
  font-size: 30px;
  margin-left: 30px;
  font-family: var(--font-1);
  color: var(--color-2);
  font-family: raleway;
}

.paragraph--titulo-seguro {
  font-weight: 700;
  font-size: 30px;
  margin-left: 450px;
  font-family: raleway;
}

.paragraph--titulo-shelf-1-mobile {
  font-weight: 600;
  font-size: 23px;
  font-family: var(--font-1);
  color: var(--color-2);
  margin-left: 15px;
  font-family: raleway;
}

.paragraph--titulo-shelf-3-mobile {
  font-weight: 600;
  font-size: 20px;
  font-family: var(--font-1);
  color: var(--color-2);
  margin: 1rem 1rem;
  font-family: raleway;
}
