:global(.vtex-flex-layout-0-x-flexRowContent--breadcrumb-prod) {
  margin-top: 0px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--breadcrumb-prod) .container {
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--breadcrumb-prod) .container .term,
:global(.vtex-flex-layout-0-x-flexRowContent--breadcrumb-prod) .container .termArrow {
  display: none;
}

.homeLink,
.arrow--1 .caretIcon {
  display: none;
}

.link,
.term {
  color: #4d4d4d;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
