@media (max-width: 990px) {
  .container {
    flex-wrap: wrap;
  }
}
.container .markerInfoLink {
  display: none;
}
.container .storesListCol {
  width: 50%;
  height: 600px;
}
@media (max-width: 990px) {
  .container .storesListCol {
    width: 100%;
  }
}
.container .storesListCol .storesList .addressList .addressListItem {
  border: none;
  border-bottom: 1px solid gray;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container .storesListCol .storesList .addressList .addressListItem .addressStoreName {
  font-size: 0.95rem;
  color: #3d7eb1;
  padding-bottom: 1rem;
  font-weight: 600;
  line-height: 1.3;
}
.container .storesListCol .storesList .addressList .addressListItem .addressStoreAddress {
  font-size: 0.8rem;
  color: #4d4d4d;
  font-weight: 400;
}
.container .storesListCol .storesList .addressList .addressListItem .addressListLink {
  display: none;
}
.container .storesMapCol {
  width: 50%;
}
@media (max-width: 990px) {
  .container .storesMapCol {
    width: 100%;
  }
}
