.overlay {
  background: rgba(0, 0, 0, 0.8);
}

.closeIconContainer {
  justify-content: flex-end;
}

.opened {
  box-shadow: -3px -3px 5px rgba(204, 204, 204, 0.4);
}
@media (min-width: 991px) {
  .opened {
    max-width: 25vw !important;
    width: 100% !important;
  }
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartTitle {
  font-size: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0;
  width: 80%;
  margin-top: -3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartTitle::after {
  content: "Mi carrito";
  font-size: 1.75rem;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer {
  padding-left: 0;
  padding-right: 0;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-content) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-content) {
  padding-right: 1.5rem;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-content) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-content) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  align-self: center;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-content) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-content) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child :global(.vtex-flex-layout-0-x-flexCol) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-product-list-0-x-productImageContainer) :global(.vtex-product-list-0-x-productImageAnchor) :global(.vtex-product-list-0-x-productImage) {
  border-radius: 0;
  margin-bottom: -5px;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-content) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-content) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) :global(.vtex-flex-layout-0-x-flexColChild) {
  margin-bottom: 0.3rem;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-content) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-content) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-product-list-0-x-productName) {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-content) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-content) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) :global(.vtex-product-list-0-x-price) :global(.vtex-product-list-0-x-productPrice) :global(.vtex-product-list-0-x-price) {
  color: #ff0000;
  font-weight: bold;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-content) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-content) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) :global(.vtex-product-list-0-x-quantitySelectorContainer) :global(.vtex-product-list-0-x-quantitySelectorWrapper) :global(.vtex-product-list-0-x-quantitySelectorButton) {
  border: none;
  background-color: #F1F2F3;
  border-radius: 0;
  color: #1D1F22;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-content) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-content) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) :global(.vtex-product-list-0-x-quantitySelectorContainer) :global(.vtex-product-list-0-x-quantitySelectorWrapper) :global(.vtex-product-list-0-x-inputContainer) {
  border: none;
  border-radius: 0;
  padding-left: 0;
  background-color: #F1F2F3;
  font-family: "Raleway", sans-serif;
  padding-right: 0;
  color: #1D1F22;
  width: 2rem;
  max-width: 2rem;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-content) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-content) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) :global(.vtex-product-list-0-x-removeButtonContainer) :global(.vtex-product-list-0-x-removeButton) :global(.vtex-product-list-0-x-deleteIcon) {
  color: #2a86e4;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-content) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-content) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) :global(.vtex-product-list-0-x-productQuantityLabel) {
  display: block;
  font-size: 0;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-content) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-content) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) :global(.vtex-product-list-0-x-productQuantityLabel)::first-letter {
  color: white;
  font-size: 1rem !important;
  background: #2a86e4;
  padding: 0.1rem 0.5rem 0.2rem;
  border-radius: 50%;
  width: 2rem;
  font-weight: bold;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) .minicartSummary {
  padding-top: 0;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) .minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer):first-child {
  display: none;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) .minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer) {
  padding-bottom: 0.2rem;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) .minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer) :global(.vtex-checkout-summary-0-x-summaryItemLabel),
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) .minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer) :global(.vtex-checkout-summary-0-x-summaryItemPrice) {
  font-weight: bold;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) .minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer) :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  font-weight: bold;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) .minicartCheckoutButton {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) .minicartCheckoutButton :global(.vtex-button) {
  border-radius: 0;
  padding-bottom: 1.5rem;
  padding-top: 1.6rem;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) .minicartCheckoutButton :global(.vtex-button) :global(.vtex-button__label) {
  font-size: 0;
}
.opened .drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) .minicartCheckoutButton :global(.vtex-button) :global(.vtex-button__label)::before {
  content: "Realizar pedido";
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #f4f4f4;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-product-summary-2-x-imageStackContainer)::before {
  background: none !important;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-slider-layout-0-x-sliderArrows) {
  display: none;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-slider-layout-0-x-slideChildrenContainer) {
  border: 0 !important;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-slider-layout-0-x-sliderTrack) :global(.vtex-slider-layout-0-x-slide) {
  margin-bottom: 0px !important;
  padding-left: 0;
  padding-right: 0;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-slider-layout-0-x-sliderTrack) :global(.vtex-slider-layout-0-x-slide) :global(.vtex-product-summary-2-x-element) {
  padding-bottom: 0px;
  background: white;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-slider-layout-0-x-sliderTrack) :global(.vtex-slider-layout-0-x-slide) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-nameContainer) {
  display: none;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-slider-layout-0-x-sliderTrack) :global(.vtex-slider-layout-0-x-slide) :global(.vtex-product-summary-2-x-element) :global(.vtex-button) {
  width: fit-content !important;
  border-radius: 50%;
  height: 0.5rem;
  position: absolute;
  min-height: 1.4rem;
  bottom: 1.5rem;
  right: 0.5rem;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-slider-layout-0-x-sliderTrack) :global(.vtex-slider-layout-0-x-slide) :global(.vtex-product-summary-2-x-element) :global(.vtex-button) :global(.vtex-button__label) {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  font-weight: 200;
  font-size: 2rem;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-slider-layout-0-x-sliderTrack) :global(.vtex-slider-layout-0-x-slide) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-priceContainer) {
  padding-top: 0;
  padding-bottom: 0.25rem;
  align-self: start;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-slider-layout-0-x-sliderTrack) :global(.vtex-slider-layout-0-x-slide) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-priceContainer) :global(.vtex-store-components-3-x-priceContainer) :global(.vtex-store-components-3-x-sellingPrice) {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: -0.175rem;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-slider-layout-0-x-sliderTrack) :global(.vtex-slider-layout-0-x-slide) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-priceContainer) :global(.vtex-store-components-3-x-priceContainer) :global(.vtex-store-components-3-x-sellingPrice) :global(.vtex-product-summary-2-x-currencyContainer) {
  font-size: 0.6rem;
  font-weight: 600;
}
.opened :global(.vtex-flex-layout-0-x-flexRowContent--minicart-summary) :global(.vtex-slider-layout-0-x-sliderTrack) :global(.vtex-slider-layout-0-x-slide) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-priceContainer) :global(.vtex-store-components-3-x-priceContainer) :global(.vtex-store-components-3-x-installmentsPrice) {
  display: none;
}

:global(.vtex-product-list-0-x-deleteIcon) {
  color: #2a86e4;
}
