.biggy-autocomplete-wrapper .biggy-autocomplete {
  margin-top: 1px;
}
.biggy-autocomplete-wrapper .biggy-autocomplete .itemList {
  font-family: "Raleway", sans-serif;
}
.biggy-autocomplete-wrapper .biggy-autocomplete .history-and-top-wrapper .itemListTitle {
  font-size: 1.1rem;
  font-weight: bold;
  color: #2a86e4;
}
.biggy-autocomplete-wrapper .biggy-autocomplete .itemList--suggestion .itemListTitle {
  font-size: 1.1rem;
  font-weight: bold;
  color: #2a86e4;
}
.biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListTitle {
  font-size: 1.1rem;
  font-weight: bold;
  color: #2a86e4;
}
.biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem .element {
  width: 100vw;
}
.biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem .element .imageContainer {
  height: 8rem;
  max-height: 8rem;
}
.biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem .element .information .productNameContainer .productBrand {
  font-family: "Raleway", sans-serif;
}
.biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem .element .information .priceContainer {
  display: inline-flex;
}
.biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem .element .information .priceContainer .listPrice .listPriceValue .currencyContainer {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin-right: 1rem;
}
.biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem .element .information .priceContainer .sellingPrice .sellingPriceValue .currencyContainer {
  font-family: "Raleway", sans-serif;
  color: #ff0000;
  font-size: 1rem;
}
@media (min-width: 991px) {
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-information) :global(.vtex-product-summary-2-x-nameContainer) {
    padding: 0;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-information) :global(.vtex-product-summary-2-x-nameContainer) :global(.vtex-product-summary-2-x-productBrand) {
    color: #2e2e2e;
    font-size: 12px;
    font-weight: 700;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-information) :global(.vtex-product-summary-2-x-priceContainer) {
    align-items: flex-start;
    padding-bottom: 0;
    padding-top: 0;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-information) :global(.vtex-product-summary-2-x-priceContainer) :global(.vtex-product-summary-2-x-price_className) :global(.vtex-product-summary-2-x-price_listPriceContainer) :global(.vtex-product-summary-2-x-price_listPriceLabel) {
    display: none;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-information) :global(.vtex-product-summary-2-x-priceContainer) :global(.vtex-product-summary-2-x-price_className) :global(.vtex-product-summary-2-x-price_listPriceContainer) :global(.vtex-store-components-3-x-listPriceValue) :global(.vtex-product-summary-2-x-currencyContainer) {
    color: #727273;
    font-size: 0.875rem;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-information) :global(.vtex-product-summary-2-x-priceContainer) :global(.vtex-product-summary-2-x-price_className) :global(.vtex-product-summary-2-x-price_sellingPriceContainer) :global(.vtex-store-components-3-x-sellingPriceLabel) {
    display: none;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-information) :global(.vtex-product-summary-2-x-priceContainer) :global(.vtex-product-summary-2-x-price_className) :global(.vtex-product-summary-2-x-price_sellingPriceContainer) :global(.vtex-store-components-3-x-sellingPrice) :global(.vtex-product-summary-2-x-currencyContainer) {
    color: #ff0000;
    font-size: 1.1rem;
    font-weight: 800;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-information) :global(.vtex-product-summary-2-x-priceContainer) :global(.vtex-product-summary-2-x-price_className) :global(.vtex-store-components-3-x-installmentsPrice) {
    display: none;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-buyButtonContainer) {
    padding-top: 0;
    padding-bottom: 0;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-buyButtonContainer) :global(.vtex-product-summary-2-x-buyButton) :global(.vtex-button) {
    display: none;
    border: 0;
    min-height: 2rem;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-buyButtonContainer) :global(.vtex-product-summary-2-x-buyButton) :global(.vtex-button) :global(.vtex-button__label) {
    font-size: 0;
    margin: 0 auto;
  }
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListList .tileListItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-buyButtonContainer) :global(.vtex-product-summary-2-x-buyButton) :global(.vtex-button) :global(.vtex-button__label)::before {
    content: "Comprar";
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: bold;
  }
}
.biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListFooter .tileListSeeMore {
  font-size: 0;
}
.biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListFooter .tileListSeeMore::before {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  content: "ver todos";
  color: #3F3F40;
  text-decoration: underline;
}
@media (min-width: 991px) {
  .biggy-autocomplete-wrapper .biggy-autocomplete .tileList .tileListFooter .tileListSeeMore::before {
    font-size: 0.9rem;
    font-weight: bold;
  }
}
