.notificationBarContainer {
  background-image: url(https://kayserltda.vteximg.com.br/arquivos/fondo-bottonBar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: 900;
  font-size: 11px;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 90%;
}

@media (max-width: 991px) {
  .container {
    width: 95%;
  }
}
.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

:global(.vtex-flex-layout-0-x-flexRow--menu-footer) .label {
  color: #666;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  width: 60%;
  white-space: break-spaces;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}
.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}
.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}
.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}
.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

:global(.vtex-product-context-provider) .container {
  max-width: 90%;
}

.sizeDesktop {
  padding-left: 0px;
}

.imageElement--lovelust-img {
  margin-left: 1rem;
}

.skuSelectorItemImageValue {
  position: relative;
  top: -17px;
}

/* pdp kayser */
:global(.vtex-stack-layout-0-x-stackContainer--product) .productImagesGallerySlide::before,
:global(.vtex-stack-layout-0-x-stackContainer--product) .figure::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.045);
}
@media (min-width: 991px) {
  :global(.vtex-stack-layout-0-x-stackContainer--product) .carouselGaleryThumbs {
    width: 25% !important;
  }
}
:global(.vtex-stack-layout-0-x-stackContainer--product) .carouselGaleryCursor {
  cursor: default;
  padding-left: 3px;
}
@media (min-width: 991px) {
  :global(.vtex-stack-layout-0-x-stackContainer--product) .carouselGaleryCursor {
    margin-left: 25%;
    width: 75%;
  }
}
@media (min-width: 991px) {
  :global(.vtex-stack-layout-0-x-stackContainer--product) .carouselGaleryCursor .swiperPaginationClickable {
    display: none;
  }
}
:global(.vtex-stack-layout-0-x-stackContainer--product) .carouselGaleryCursor .swiperPaginationClickable .swiperBullet {
  color: gray;
}
:global(.vtex-stack-layout-0-x-stackContainer--product) .carouselGaleryCursor .swiperPaginationClickable .swiperBullet--active {
  color: #2a86e4;
}
:global(.vtex-stack-layout-0-x-stackContainer--product) .productImagesThumb {
  margin-bottom: 3px;
}

:global(.vtex-flex-layout-0-x-flexCol--right-col) .productBrand--quickview {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-identifier-0-x-product-identifier--productReference) {
  color: #4d4d4d;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-identifier-0-x-product-identifier--productReference) :global(.vtex-product-identifier-0-x-product-identifier__label) {
  font-size: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-identifier-0-x-product-identifier--productReference) :global(.vtex-product-identifier-0-x-product-identifier__label)::before {
  content: "Cod";
  font-size: 13px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-price-1-x-listPrice) {
  color: #666;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-price-1-x-sellingPriceValue) {
  color: #ff0000;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-price-1-x-currencyCode) {
  margin-right: 4px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorName,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorNameSeparator {
  color: #888;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 800;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-store-components-3-x-skuSelectorSelectorImageValue) {
  display: none;
}
@media (max-width: 990px) {
  :global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorTextContainer,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--copa .skuSelectorTextContainer {
    text-align: center;
    margin-top: 0.5rem;
  }
}
@media (max-width: 990px) {
  :global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorNameContainer,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--copa .skuSelectorNameContainer {
    margin: 0 auto;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorName::after,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--copa .skuSelectorName::after {
  content: ":";
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorItem,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--copa .skuSelectorItem {
  height: auto;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorInternalBox,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--copa .skuSelectorInternalBox {
  border: revert;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorInternalBox:hover,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--copa .skuSelectorInternalBox:hover {
  box-shadow: 3px 3px 2px rgba(79, 135, 224, 0.6);
  transition: all 0.4s ease-in-out;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorItemTextValue,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--copa .skuSelectorItemTextValue {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 800;
  padding: 0.4rem;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorItemTextValue:hover,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--copa .skuSelectorItemTextValue:hover {
  background-color: #2a86e4;
  border: 1px solid #ccc;
  color: white;
  transition: all 0.4s ease-in-out;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorItem--selected,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--copa .skuSelectorItem--selected {
  background-color: #2a86e4;
  border-radius: 3px;
  box-shadow: 3px 3px 2px rgba(79, 135, 224, 0.6);
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorItem--selected .skuSelectorItemTextValue,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--copa .skuSelectorItem--selected .skuSelectorItemTextValue {
  color: white;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .frameAround,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--copa .frameAround {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .diagonalCross {
  background-image: linear-gradient(to top left, transparent 44%, rgba(255, 0, 0, 0.2) 50%, currentColor 48%, currentColor 52%, transparent 52%);
  opacity: 0.2;
  cursor: not-allowed;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .valueWrapper--unavailable {
  cursor: none;
  pointer-events: none;
  opacity: 0.2;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-quantity-1-x-quantitySelectorTitle) {
  display: none;
}
@media (max-width: 990px) {
  :global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-numeric-stepper-container) {
    justify-content: center;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-numeric-stepper-container) :global(.vtex-numeric-stepper__minus-button),
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-numeric-stepper-container) :global(.vtex-numeric-stepper__plus-button) {
  background-color: white;
  border: 1px solid #ccc;
  height: 36px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-numeric-stepper__minus-button__text),
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-numeric-stepper__plus-button__text) {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-numeric-stepper__input) {
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  border-top: 1px solid #ccc;
  color: #666;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  height: 36px;
  width: 48px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
  margin-bottom: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-modal-layout-0-x-triggerContainer) {
  align-self: center;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-modal-layout-0-x-triggerContainer) :global(.vtex-menu-2-x-styledLinkContainer) {
  margin-left: 0;
  margin-right: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-modal-layout-0-x-triggerContainer) :global(.vtex-menu-2-x-styledLinkContent) {
  justify-content: flex-start;
  align-items: center;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 990px) {
  :global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-modal-layout-0-x-triggerContainer) :global(.vtex-menu-2-x-styledLinkContent) {
    justify-content: center;
    margin-bottom: 0.5rem;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-button) {
  background-color: #2a86e4;
  border: none;
  height: 36px;
  min-height: 36px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-button__label) {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 800;
  text-transform: capitalize;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-styledLinkContainer--caracteristicas-producto) {
  margin-left: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) :global(.vtex-menu-2-x-styledLinkContent--caracteristicas-producto) {
  align-items: center;
  color: #4d4d4d;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-accordionIcon--caracteristicas-producto) {
  color: #4d4d4d;
  font-size: 20px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) .productDescriptionTitle {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) :global(.vtex-menu-2-x-submenuAccordion) {
  display: block;
  text-align: center;
  padding-left: 0;
}
@media (max-width: 990px) {
  :global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) :global(.vtex-menu-2-x-submenuAccordion) {
    text-align: left;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) :global(.vtex-menu-2-x-submenuAccordion) :global(.vtex-flex-layout-0-x-flexRowContent) {
  margin-bottom: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) :global(.vtex-menu-2-x-submenuAccordion) :global(.vtex-flex-layout-0-x-flexRowContent) :global(.vtex-store-components-3-x-productDescriptionText) {
  color: #4d4d4d;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-store-components-3-x-shareLabel) {
  font-size: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-store-components-3-x-shareLabel)::after {
  color: #4d4d4d;
  content: "Comparte este producto:";
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-button):hover {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 991px) {
  :global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-flex-layout-0-x-flexRow--buy-button) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: fit-content !important;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-flex-layout-0-x-flexRowContent--buy-button-mobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  padding-right: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-flex-layout-0-x-flexRowContent--buy-button-mobile) :global(.vtex-product-quantity-1-x-quantitySelectorContainer) :global(.vtex-product-quantity-1-x-quantitySelectorStepper) :global(.vtex-numeric-stepper-wrapper) :global(.vtex-numeric-stepper-container) :global(.vtex-numeric-stepper__input) {
  width: 2rem;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-flex-layout-0-x-flexRowContent--buy-button-mobile) :global(.vtex-product-quantity-1-x-quantitySelectorContainer) :global(.vtex-product-quantity-1-x-quantitySelectorStepper) :global(.vtex-numeric-stepper-wrapper) :global(.vtex-numeric-stepper-container) :global(.vtex-numeric-stepper__plus-button-container) :global(.vtex-numeric-stepper__plus-button) {
  width: 1.7rem !important;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-flex-layout-0-x-flexRowContent--buy-button-mobile) :global(.vtex-product-quantity-1-x-quantitySelectorContainer) :global(.vtex-product-quantity-1-x-quantitySelectorStepper) :global(.vtex-numeric-stepper-wrapper) :global(.vtex-numeric-stepper-container) :global(.vtex-numeric-stepper__minus-button-container) :global(.vtex-numeric-stepper__minus-button) {
  width: 1.7rem !important;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-flex-layout-0-x-flexRowContent--buy-button-mobile) :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-flex-layout-0-x-flexRowContent--buy-button-mobile) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
  background-color: transparent;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-flex-layout-0-x-flexRowContent--buy-button-mobile) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-button__label) {
  padding-left: 0;
  padding-right: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-flex-layout-0-x-flexRowContent--buy-button-mobile) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-wish-list-1-x-outline) {
  background: url(/arquivos/heart.svg) no-repeat;
  background-position: center;
  background-size: 1.2rem;
}

/* end pdp kayser */
/* colors kayser */
@media (max-width: 990px) {
  .skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer {
    margin: 0 auto;
  }
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem .skuSelectorInternalBox {
  border-radius: 50%;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem .frameAround {
  border: 2px solid #2a86e4;
  box-shadow: 3px 2px 3px rgba(107, 107, 107, 0.6);
  border-radius: 50%;
  bottom: -0.15rem;
  left: -0.15rem;
  right: -0.15rem;
  top: -0.15rem;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem .skuSelectorItemImageValue {
  display: none;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--fucsia {
  background-color: fuchsia;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--gris {
  background-color: gray;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--morado {
  background-color: violet;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--rosado {
  background-color: fuchsia;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--negro {
  background-color: black;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--calipso {
  background-color: #81b9ca;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--blanco {
  background-color: #fafafa;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--verde {
  background-color: green;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--azul {
  background-color: blue;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--turquesa {
  background-color: turquoise;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--coral {
  background-color: coral;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--damasco {
  background-color: #fbceb1;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--cafe {
  background-color: brown;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--marfil {
  background-color: #e6d690;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--verde-limon {
  background-color: #e3ff00;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--rojo {
  background-color: red;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--burdeo {
  background-color: #b03648;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--petroleo {
  background-color: #0f415b;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--celeste {
  background-color: skyblue;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--azul-negro-gris, .skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--blanco-negro-beige {
  background: url(https://kayserltda.vteximg.com.br/arquivos/multi-color.png);
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--azul-marino {
  background-color: navy;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--beige {
  background-color: beige;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--lila {
  background-color: #c8a2c8;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--natural {
  background-color: #ffefd1;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--cognac {
  background-color: #fcc458;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--naranjo {
  background-color: orange;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--transparente {
  background-color: transparent;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--piel {
  background-color: #fcd0b4;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--leopardo {
  background: linear-gradient(to right bottom, #fbb62d, #000000);
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--surtido {
  background: linear-gradient(135deg, #e82e2e 0%, #41d62a 33%, #f6f931 62%, #002aff 100%);
}

/* end colors kayser */
/* vtex toast */
:global(.vtex-toast) {
  background-color: #2a86e4;
}
@media (max-width: 990px) {
  :global(.vtex-toast) {
    font-size: 0.9rem;
  }
}

.imageElement--img-shelf {
  width: 100%;
  padding-right: 0;
  max-width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.imageElement--img-shelf-2 {
  width: 100%;
  padding-right: 0;
  max-width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.img-banner {
  width: 45%;
}

@media screen and (max-width: 639px) {
  .imageElement--img-categoria-dos {
    width: 0;
    margin: 1rem;
  }
}
