.listPrice {
  color: #727273;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

:global(.vtex-product-summary-2-x-element) .listPrice {
  padding-left: 1rem;
}
:global(.vtex-product-summary-2-x-element) .sellingPriceValue {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sellingPrice {
  color: #3f3f40;
  font-size: 1.25rem;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79b03a;
}

.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2e2e2e;
}

.savings--summary {
  align-items: center;
  background: #efba00;
  border-radius: 0;
  box-shadow: -3px 3px #845ea5;
  color: #ffffff;
  display: flex;
  font-family: "Raleway", sans-serif;
  position: absolute;
  font-size: 0.8rem;
  font-weight: 800;
  height: 16px;
  padding: 0.3rem 0 0.1rem 0;
  right: 15px;
  justify-content: center;
  top: 5px;
  vertical-align: baseline;
  width: 40px;
  z-index: 10;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
