@charset "UTF-8";
.searchResultContainer :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-store-components-3-x-container) {
  width: 100%;
}

.gallery {
  padding-left: 0;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) {
  background-color: #f2f2f2;
  border: 1px solid rgba(204, 204, 204, 0.9);
  position: relative;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) {
  padding-top: 0;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  display: none;
}
@media (min-width: 992px) {
  .gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) :global(.vtex-wish-list-1-x-wishlistIconContainer) {
    display: none;
  }
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
  background: transparent;
  bottom: 40%;
  position: absolute;
  right: 0.3rem;
  display: block;
  width: 100%;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-button__label) {
  justify-content: flex-end;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-wish-list-1-x-wishlistIcon) {
  position: relative;
  z-index: 9;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) :global(.vtex-stack-layout-0-x-stackContainer) :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-product-summary-2-x-imageStackContainer)::before {
  background: rgba(0, 0, 0, 0.045);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) :global(.vtex-stack-layout-0-x-stackContainer) :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-product-summary-2-x-imageStackContainer) :global(.vtex-product-summary-2-x-image) {
  border-radius: 0;
  height: 100% !important;
  z-index: 9;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) :global(.vtex-product-summary-2-x-nameContainer) :global(.vtex-product-summary-2-x-productNameContainer) :global(.vtex-product-summary-2-x-brandName) {
  color: #2e2e2e;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-price-1-x-listPrice--summary) {
  margin-bottom: 0;
  padding-bottom: 0.25rem;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-flex-layout-0-x-flexRow--selling-price) :global(.vtex-flex-layout-0-x-flexRowContent--selling-price) :global(.vtex-product-price-1-x-sellingPrice--summary) :global(.vtex-product-price-1-x-sellingPriceValue--summary) {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  color: #ff0000;
  font-weight: 800;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-button) {
  border: 0;
  background: #2a86e4;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.04em;
  margin-top: 0.5rem;
  min-height: 30px;
  text-transform: capitalize;
  margin: 0 auto;
  width: 85%;
}
@media (max-width: 990px) {
  .gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-button) {
    display: none;
  }
}
@media (min-width: 991px) {
  .gallery :global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
    display: none;
  }
}

.buttonShowMore--layout {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.buttonShowMore--layout .buttonShowMore :global(.vtex-button) {
  border: 0;
}

@media (max-width: 991px) {
  .searchResultContainer:global(.vtex-store-components-3-x-container) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .searchResultContainer:global(.vtex-store-components-3-x-container) .gallery .galleryItem {
    padding: 0 0.1rem 0.5rem;
  }
  .searchResultContainer:global(.vtex-store-components-3-x-container) .gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
    background: transparent;
    bottom: 45%;
    position: absolute;
    right: 0.1rem;
    width: 100%;
  }
  .searchResultContainer:global(.vtex-store-components-3-x-container) .gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-button__label) {
    justify-content: flex-end;
  }
  .searchResultContainer:global(.vtex-store-components-3-x-container) .gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-element) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-wish-list-1-x-wishlistIcon) {
    position: relative;
    z-index: 99;
  }
}
.buttonShowMore--layout .buttonShowMore :global(.vtex-button) {
  background-color: #2a86e4;
  border: none;
  border-radius: 0;
  font-family: "Raleway", sans-serif;
  padding: 0.5rem 1rem;
}

:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) {
  border-bottom: 1px solid rgba(204, 204, 204, 0.9);
  margin-bottom: 2rem;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) {
  padding-left: 0;
  padding-right: 0;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) {
  align-items: center;
  justify-content: center;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) {
  border-left: 1px solid rgba(204, 204, 204, 0.9);
  border-right: 1px solid rgba(204, 204, 204, 0.9);
  width: 40% !important;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--orderByMobileCol) :global(.vtex-flex-layout-0-x-flexColChild--orderByMobileCol) .orderBy--layout .orderByDropdown {
  padding-top: 0;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--orderByMobileCol) :global(.vtex-flex-layout-0-x-flexColChild--orderByMobileCol) .orderBy--layout .orderByDropdown .orderByButton {
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--orderByMobileCol) :global(.vtex-flex-layout-0-x-flexColChild--orderByMobileCol) .orderBy--layout .orderByDropdown .orderByButton .filterPopupTitle {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  text-transform: capitalize;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--orderByMobileCol) :global(.vtex-flex-layout-0-x-flexColChild--orderByMobileCol) .orderBy--layout .orderByDropdown .orderByButton .filterPopupTitle .orderByText {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--orderByMobileCol) :global(.vtex-flex-layout-0-x-flexColChild--orderByMobileCol) .orderBy--layout .orderByDropdown .orderByOptionsContainer {
  z-index: 99;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--orderByMobileCol) :global(.vtex-flex-layout-0-x-flexColChild--orderByMobileCol) .orderBy--layout .orderByDropdown .orderByOptionsContainer .orderByOptionItem {
  font-family: "Raleway", sans-serif;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--filterMobileCol) :global(.vtex-flex-layout-0-x-flexColChild--filterMobileCol) .filters--layout .filters .filtersWrapperMobile .filterPopupButton {
  width: 80%;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--filterMobileCol) :global(.vtex-flex-layout-0-x-flexColChild--filterMobileCol) .filters--layout .filters .filtersWrapperMobile .filterPopupButton .filterPopupTitle {
  font-family: "Raleway", sans-serif;
  margin-left: 0;
  text-transform: capitalize;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--switcherMobile) :global(.vtex-flex-layout-0-x-flexColChild--switcherMobile) {
  padding-left: 1rem;
  padding-right: 1rem;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--switcherMobile) :global(.vtex-flex-layout-0-x-flexColChild--switcherMobile) .galleryLayoutSwitcher .galleryLayoutOptionButton {
  padding-left: 0;
  padding-right: 0;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--switcherMobile) :global(.vtex-flex-layout-0-x-flexColChild--switcherMobile) .galleryLayoutSwitcher .galleryLayoutOptionButton:nth-child(odd) {
  margin-right: 0.8rem;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--switcherMobile) :global(.vtex-flex-layout-0-x-flexColChild--switcherMobile) .galleryLayoutSwitcher .galleryLayoutOptionButton:nth-child(odd) :global(.vtex-store-icons-0-x-gridIcon) {
  background: url(/arquivos/grid-2.svg) no-repeat;
  background-position: center;
  color: transparent;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--switcherMobile) :global(.vtex-flex-layout-0-x-flexColChild--switcherMobile) .galleryLayoutSwitcher .galleryLayoutOptionButton:nth-child(even) :global(.vtex-store-icons-0-x-gridIcon) {
  background: url(/arquivos/grid-1.svg) no-repeat;
  background-position: center;
  color: transparent;
}
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--switcherMobile) :global(.vtex-flex-layout-0-x-flexColChild--switcherMobile) .galleryLayoutSwitcher .galleryLayoutOptionButton--selected {
  padding: 0.2rem;
  background: #f0f0f0;
  border-radius: 2px;
}

.sidebar {
  width: 90%;
}
.sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
.sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsItem .caretIcon {
  width: 10px;
  padding-left: 0.5rem;
}
.sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsItem .filterBreadcrumbsItemName {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
.sidebar .accordionFilter .accordionFilterContainer .accordionFilterItem .accordionFilterContent .accordionFilterItemTitle {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
.sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox {
  font-family: "Raleway", sans-serif;
}
.sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__container) :global(.vtex-checkbox__inner-container) {
  border-radius: 50%;
  border-width: 1px;
}
.sidebar .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button) {
  font-family: "Raleway", sans-serif;
  color: #2a86e4;
  font-weight: 600;
  text-transform: capitalize;
}
.sidebar .filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button) {
  background: #2a86e4;
  border: none;
  border-radius: 0;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
}

@media (min-width: 991px) {
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper {
    font-family: "Raleway", sans-serif;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container .filter .filterTitle {
    color: #4d4d4d;
    font-size: 0.9rem;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container .filterMessage {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container .filterTemplateOverflow .selectedFilterItem :global(.vtex-checkbox__line-container) {
    align-items: center;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container .filterTemplateOverflow .selectedFilterItem :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__inner-container) {
    border-radius: 50%;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container .filterTemplateOverflow .selectedFilterItem :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label) {
    color: #444;
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: bold;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container .filterTemplateOverflow .filterContent .filterItem :global(.vtex-checkbox__line-container) {
    align-items: center;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container .filterTemplateOverflow .filterContent .filterItem :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__inner-container) {
    border-radius: 50%;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container .filterTemplateOverflow .filterContent .filterItem :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label) {
    color: #444;
    font-size: 0.8rem;
    text-transform: capitalize;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--category-1, :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--promociones {
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--priceRange .filter .filterTitle {
    font-size: 0;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--priceRange .filter .filterTitle::before {
    content: "Rango de Precios";
    font-size: 0.9rem;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--category-4 .filter .filterTitle {
    font-size: 0;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--category-4 .filter .filterTitle::before {
    content: "Sub-Categoría";
    font-size: 0.9rem;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent {
    display: inline-flex;
    width: 200px;
    gap: 0.3rem;
    flex-wrap: wrap;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem {
    box-shadow: 1px 1px 1px rgba(68, 68, 68, 0.2);
    border-radius: 50%;
    height: 15px;
    width: 15px;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__container) {
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label) {
    font-size: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem:hover {
    box-shadow: 1px 1px 1px #2a86e4;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--fucsia {
    background-color: fuchsia;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--gris {
    background-color: gray;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--morado {
    background-color: violet;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--rosado {
    background-color: fuchsia;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--negro {
    background-color: black;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--calipso {
    background-color: #81b9ca;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--blanco {
    background-color: #fafafa;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--verde {
    background-color: green;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--azul {
    background-color: blue;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--turquesa {
    background-color: turquoise;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--coral {
    background-color: coral;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--damasco {
    background-color: #FBCEB1;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--cafe {
    background-color: brown;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--marfil {
    background-color: #e6d690;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--verde-limon {
    background-color: #E3FF00;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--rojo {
    background-color: red;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--burdeo {
    background-color: #B03648;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--petroleo {
    background-color: #0f415b;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--celeste {
    background-color: skyblue;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--azul-negro-gris, :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--blanco-negro-beige {
    background: url(https://kayserltda.vteximg.com.br/arquivos/multi-color.png);
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--azul-marino {
    background-color: navy;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--beige {
    background-color: beige;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--lila {
    background-color: #C8A2C8;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--natural {
    background-color: #ffefd1;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--cognac {
    background-color: #fcc458;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--naranjo {
    background-color: orange;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--transparente {
    background-color: transparent;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--piel {
    background-color: #FCD0B4;
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--leopardo {
    background: linear-gradient(to right bottom, #fbb62d, #000000);
  }
  :global(.vtex-flex-layout-0-x-flexCol--filterCol) :global(.vtex-flex-layout-0-x-flexColChild--filterCol) .filters--layout .filtersWrapper .filter__container--color .filterTemplateOverflow .filterContent .filterItem--surtido {
    background: linear-gradient(135deg, #e82e2e 0%, #41d62a 33%, #f6f931 62%, #002aff 100%);
  }
}
@media (min-width: 991px) {
  :global(.vtex-flex-layout-0-x-flexRow--breadcrumb) {
    align-self: center;
  }

  .orderBy--layout .orderByDropdown .orderByButton .filterPopupTitle {
    text-transform: capitalize;
  }
  .orderBy--layout .orderByDropdown .orderByButton .filterPopupTitle .orderByText {
    color: #4d4d4d;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: capitalize;
  }
  .orderBy--layout .orderByDropdown .orderByOptionsContainer {
    top: 3rem;
    z-index: 11;
  }
  .orderBy--layout .orderByDropdown .orderByOptionsContainer .orderByOptionItem {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
  }
}
.searchNotFound {
  margin-top: 3rem;
}
@media (min-width: 991px) {
  .searchNotFound {
    height: 6rem;
  }
}
.searchNotFound .searchNotFoundOops {
  display: none;
}
.searchNotFound .searchNotFoundInfo {
  font-size: 0;
}
@media (max-width: 990px) {
  .searchNotFound .searchNotFoundInfo {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
.searchNotFound .searchNotFoundInfo::before {
  content: "Lo sentimos, no encontramos resultados para su búsqueda";
  font-size: 1.4rem;
  font-weight: 600;
  align-self: center;
}
.searchNotFound .searchNotFoundInfo .searchNotFoundWhatDoIDo::after {
  content: "Compruebe si hay errores tipográficos | Intenta utilizar una sola palabra | Utilice sinónimos o términos más genéricos";
  font-size: 1rem;
}
