@charset "UTF-8";
.stackItem--product {
  width: 100%;
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}

/* landing 01: entre nosotras */
.stackItem--btn-categorias {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 130%;
}
.stackItem--btn-categoria-dos {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 170%;
}
.stackItem--contenedor-accesorios {
  display: flex;
  z-index: 1;
  justify-content: center;
}

@media screen and (min-width: 640px) and (max-width: 1025px) {
  .stackItem--btn-categorias {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30rem;
  }
  .stackItem--btn-categoria-dos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 160%;
  }
  .stackItem--img-sosten, .stackItem--img-calzon {
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 770px) {
  .stackItem--btn-categorias {
    margin-top: 23rem;
  }
}
@media screen and (max-width: 639px) {
  .stackItem--btn-categorias {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 21rem;
  }
  .stackItem--btn-categoria-dos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 75%;
  }
  .stackItem--img-sosten, .stackItem--img-calzon {
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 585px) {
  .stackItem--btn-categorias {
    margin-top: 17rem;
  }
}
@media screen and (max-width: 490px) {
  .stackItem--btn-categorias {
    margin-top: 15rem;
  }
}
@media screen and (max-width: 415px) {
  .stackItem--btn-categorias {
    margin-top: 13rem;
  }
}
@media screen and (max-width: 380px) {
  .stackItem--btn-categorias {
    margin-top: 11.5rem;
  }
}
@media screen and (max-width: 320px) {
  .stackItem--btn-categorias {
    margin-top: 10rem;
  }
}
/*Medidas imágenes*/
:global(.vtex-store-components-3-x-imageElement--img-categoria-dos) {
  width: 90% !important;
  border-radius: 10px;
}
