@media screen and (min-width: 40em) {
  .paper--quickview {
    height: 260px;
    width: 580px;
  }

  .actionsContainer--quickview {
    padding: 0 2rem 2rem 2rem;
  }
}
@media screen and (min-width: 50em) {
  .paper--quickview {
    height: 450px;
    width: 900px;
  }
}
@media screen and (min-width: 75em) {
  .paper--quickview {
    width: calc(100% - 4rem);
    height: auto;
  }
}
@media screen and (min-width: 82em) {
  .actionsContainer--quickview {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}
.paper--quickview {
  min-width: 320px;
  max-width: 96rem;
}

.headerContainer--quickview {
  border: none;
  position: absolute;
  right: 0;
}

.actionsContainer--quickview {
  height: 100%;
  width: 100%;
  transition: box-shadow 150ms ease-in-out, border-top 150ms ease-in-out;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;
  box-shadow: -4px 0px 27px -12px transparent;
}

.actionsContentWrapper {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #aaa;
  padding-top: 1.5rem;
}

.contentContainer--quickviewContent {
  padding: 2.5rem 0 2.5rem 2rem;
  overflow-x: hidden;
}

.triggerContainer--quickview {
  padding: 0.75rem;
}

.triggerContainer {
  outline: none;
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) {
  border-top-color: #eeeeee;
  box-shadow: -4px 0px 27px -12px rgba(0, 0, 0, 0.64);
}
.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) .actionsContentWrapper {
  border-top-color: transparent;
}

.closeButton {
  padding-right: 1rem;
}

.paper--product-gifts {
  padding: 1.5rem;
}

.modal--modal-como-comprar :global(.vtex-store-components-3-x-imageElement),
.modal--modal-pdp :global(.vtex-store-components-3-x-imageElement) {
  align-self: center;
}

.modal--modal-como-comprar .closeIcon,
.modal--modal-pdp .closeIcon {
  color: #ccc;
  transition: color 0.2s ease-out;
}

.modal--modal-como-comprar :global(.vtex-iframe-0-x-container),
.modal--modal-pdp :global(.vtex-iframe-0-x-container) {
  padding: 2rem;
}

.modal--modal-como-comprar .closeIcon:hover,
.modal--modal-pdp .closeIcon:hover {
  color: red;
}

.modal--modal-como-comprar .headerContainer,
.modal--modal-pdp .headerContainer {
  border: none;
}

.modal--modal-como-comprar :global(.vtex-rich-text-0-x-container),
.modal--modal-pdp :global(.vtex-rich-text-0-x-container) {
  align-self: center;
  color: #595959;
}

.modal--modal-como-comprar :global(.vtex-rich-text-0-x-heading),
.modal--modal-pdp :global(.vtex-rich-text-0-x-heading) {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.paper--guia_modal {
  border-radius: 0px;
}
.paper--guia_modal .headerContainer--header-tallas {
  background-color: none;
}
.paper--guia_modal .headerContainer--header-tallas .closeIcon--header-tallas {
  border-radius: 50%;
  background-color: #2a86e4;
  color: white;
}

.backdrop--guia_modal {
  background-color: transparent;
}

.backdrop--modal-como-comprar,
.backdrop--modal-pdp {
  background-color: rgba(0, 0, 0, 0.4);
}

.triggerContainer :global(.vtex-store-components-3-x-imageElement--img-como-comprar) {
  box-shadow: 1px 1px 2px rgba(85, 85, 85, 0.4);
  cursor: pointer;
  width: -webkit-fill-available;
}

@media (max-width: 991px) {
  .triggerContainer :global(.vtex-store-components-3-x-imageElement--img-como-comprar) {
    display: none;
  }
}
.modal--quickview .container--quickview {
  background: rgba(0, 0, 0, 0.25);
}
.modal--quickview .container--quickview .paper--quickview {
  border-radius: 0;
  margin: 0;
  max-height: calc(100% - 1rem);
  max-width: calc(100% - 1rem);
  min-width: calc(100% - 1rem);
}
.modal--quickview .container--quickview .paper--quickview .headerContainer--quickview .closeButton--quickview {
  background-color: #2a86e4;
  border-radius: 50%;
  height: 50px;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  padding-right: 0.5rem;
  width: 50px;
}
.modal--quickview .container--quickview .paper--quickview .headerContainer--quickview .closeButton--quickview .closeIcon--quickview {
  color: white;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-store-components-3-x-productImagesGallerySwiperContainer--quickview) {
  height: 450px;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-store-components-3-x-productImagesContainer--quickview) {
  padding: 1rem 1rem 0;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-store-components-3-x-productImagesContainer--quickview) :global(.vtex-store-components-3-x-carouselContainer--quickview) :global(.vtex-store-components-3-x-swiperCaret--quickview) {
  display: none;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-store-components-3-x-productImagesContainer--quickview) :global(.vtex-store-components-3-x-carouselContainer--quickview) :global(.vtex-store-components-3-x-swiper-pagination) :global(.vtex-store-components-3-x-swiperBullet) {
  color: gray;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-store-components-3-x-productImagesContainer--quickview) :global(.vtex-store-components-3-x-carouselContainer--quickview) :global(.vtex-store-components-3-x-swiper-pagination) :global(.vtex-store-components-3-x-swiperBullet) {
  color: #2a86e4;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent {
  padding: 1rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-store-components-3-x-productNameContainer--quickview) {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-flex-layout-0-x-flexRow--quickview-price) :global(.vtex-flex-layout-0-x-flexRowContent--quickview-price) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: fit-content !important;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-flex-layout-0-x-flexRow--quickview-price) :global(.vtex-flex-layout-0-x-flexRowContent--quickview-price) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol) {
  -webkit-box-orient: horizontal;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-price-1-x-listPrice) {
  font-family: "Raleway", sans-serif;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-price-1-x-listPrice) :global(.vtex-product-price-1-x-listPriceValue) {
  font-size: 1rem;
  font-weight: 600;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-price-1-x-sellingPrice) {
  color: #ff0000;
  font-family: "Raleway", sans-serif;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-price-1-x-sellingPrice) :global(.vtex-product-price-1-x-sellingPriceValue) {
  font-size: 1rem;
  font-weight: 600;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) {
  margin-bottom: 0.2rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) :global(.vtex-store-components-3-x-skuSelectorNameContainer) {
  margin: unset;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorTextContainer) {
  display: none;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList)::before {
  content: "Color: ";
  color: #595959;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  margin-right: 0.5rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-store-components-3-x-skuSelectorItem) {
  height: 30px !important;
  width: 30px !important;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-store-components-3-x-skuSelectorItem) :global(.vtex-store-components-3-x-skuSelectorInternalBox) {
  border-radius: 50%;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-store-components-3-x-skuSelectorItem) :global(.vtex-store-components-3-x-frameAround) {
  border: 2px solid #2a86e4;
  box-shadow: none;
  border-radius: 50%;
  bottom: -0.25rem;
  left: -0.25rem;
  right: -0.25rem;
  top: -0.25rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-store-components-3-x-skuSelectorItem) :global(.vtex-store-components-3-x-skuSelectorItemImageValue) {
  display: none;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) {
  margin-bottom: 0.2rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorTextContainer) {
  display: none;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList)::before {
  content: "Talla: ";
  color: #595959;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  margin-right: 0.5rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-product-summary-2-x-skuSelectorItem) {
  height: 30px;
  width: 30px;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-product-summary-2-x-skuSelectorItem) :global(.vtex-product-summary-2-x-frameAround) {
  border-color: #2a86e4;
  border-radius: 0;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-product-summary-2-x-skuSelectorItem) :global(.vtex-product-summary-2-x-skuSelectorInternalBox) {
  border-radius: 0;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-product-summary-2-x-skuSelectorItem) :global(.vtex-product-summary-2-x-skuSelectorInternalBox) :global(.vtex-product-summary-2-x-valueWrapper) {
  font-size: 0.8rem;
  padding-right: 0;
  padding-left: 0;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-product-summary-2-x-skuSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-product-summary-2-x-skuSelectorItem) :global(.vtex-product-summary-2-x-skuSelectorInternalBox) :global(.vtex-product-summary-2-x-valueWrapper--unavailable) {
  color: rgba(128, 128, 128, 0.5);
  pointer-events: none;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--copa) {
  margin-bottom: 0.2rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--copa) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorTextContainer) {
  display: none;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--copa) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList)::before {
  content: "Copa: ";
  color: #595959;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  margin-right: 0.5rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--copa) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-product-summary-2-x-skuSelectorItem) {
  height: 30px;
  width: 30px;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--copa) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-product-summary-2-x-skuSelectorItem) :global(.vtex-product-summary-2-x-frameAround) {
  border-color: #2a86e4;
  border-radius: 0;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--copa) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-product-summary-2-x-skuSelectorItem) :global(.vtex-product-summary-2-x-skuSelectorInternalBox) {
  border-radius: 0;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--copa) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-product-summary-2-x-skuSelectorItem) :global(.vtex-product-summary-2-x-skuSelectorInternalBox) :global(.vtex-product-summary-2-x-valueWrapper) {
  font-size: 0.8rem;
  padding-right: 0;
  padding-left: 0;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .contentContainer--quickviewContent :global(.vtex-product-summary-2-x-SKUSelectorContainer--quickview) :global(.vtex-store-components-3-x-skuSelectorSubcontainer--copa) :global(.vtex-store-components-3-x-skuSelectorNameContainer) :global(.vtex-store-components-3-x-skuSelectorOptionsList) :global(.vtex-product-summary-2-x-skuSelectorItem) :global(.vtex-product-summary-2-x-skuSelectorInternalBox) :global(.vtex-product-summary-2-x-valueWrapper--unavailable) {
  color: rgba(128, 128, 128, 0.5);
  pointer-events: none;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview {
  border-top: none;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview {
  border-top-color: #aaaaaa2e;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--addToCartRow) {
  padding-bottom: 0.5rem;
  text-align: center;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--addToCartRow) :global(.vtex-flex-layout-0-x-flexRowContent--addToCartRow) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  display: inline-flex;
  width: fit-content !important;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--addToCartRow) :global(.vtex-flex-layout-0-x-flexRowContent--addToCartRow) :global(.vtex-flex-layout-0-x-flexCol--quickview-qty) :global(.vtex-flex-layout-0-x-flexColChild--quickview-qty) :global(.vtex-product-quantity-1-x-summaryContainer) :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
  margin-bottom: 0;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--addToCartRow) :global(.vtex-flex-layout-0-x-flexRowContent--addToCartRow) :global(.vtex-flex-layout-0-x-flexCol--quickview-qty) :global(.vtex-flex-layout-0-x-flexColChild--quickview-qty) :global(.vtex-product-quantity-1-x-summaryContainer) :global(.vtex-product-quantity-1-x-quantitySelectorContainer) :global(.vtex-product-quantity-1-x-quantitySelectorStepper) :global(.vtex-numeric-stepper-wrapper) :global(.vtex-numeric-stepper-container) :global(.vtex-numeric-stepper__input) {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #595959;
  background: #f0f0f0;
  border: 0;
  width: 2rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--addToCartRow) :global(.vtex-flex-layout-0-x-flexRowContent--addToCartRow) :global(.vtex-flex-layout-0-x-flexCol--quickview-qty) :global(.vtex-flex-layout-0-x-flexColChild--quickview-qty) :global(.vtex-product-quantity-1-x-summaryContainer) :global(.vtex-product-quantity-1-x-quantitySelectorContainer) :global(.vtex-product-quantity-1-x-quantitySelectorStepper) :global(.vtex-numeric-stepper-wrapper) :global(.vtex-numeric-stepper-container) :global(.vtex-numeric-stepper__plus-button-container) :global(.vtex-numeric-stepper__plus-button) {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #595959;
  background: #f0f0f0;
  border: 0;
  border-radius: 0;
  width: 2rem !important;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--addToCartRow) :global(.vtex-flex-layout-0-x-flexRowContent--addToCartRow) :global(.vtex-flex-layout-0-x-flexCol--quickview-qty) :global(.vtex-flex-layout-0-x-flexColChild--quickview-qty) :global(.vtex-product-quantity-1-x-summaryContainer) :global(.vtex-product-quantity-1-x-quantitySelectorContainer) :global(.vtex-product-quantity-1-x-quantitySelectorStepper) :global(.vtex-numeric-stepper-wrapper) :global(.vtex-numeric-stepper-container) :global(.vtex-numeric-stepper__minus-button-container) :global(.vtex-numeric-stepper__minus-button) {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #595959;
  background: #f0f0f0;
  border: 0;
  border-radius: 0;
  width: 2rem !important;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--addToCartRow) :global(.vtex-flex-layout-0-x-flexRowContent--addToCartRow) :global(.vtex-flex-layout-0-x-flexCol--quickview-add) :global(.vtex-flex-layout-0-x-flexColChild--quickview-add) :global(.vtex-button) {
  background: #2a86e4;
  border: 0;
  border-radius: 0;
  font-family: "Raleway", sans-serif;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--addToCartRow) :global(.vtex-flex-layout-0-x-flexRowContent--addToCartRow) :global(.vtex-flex-layout-0-x-flexCol--quickview-add) :global(.vtex-flex-layout-0-x-flexColChild--quickview-add) :global(.vtex-button) :global(.vtex-button__label) {
  font-size: 0;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--addToCartRow) :global(.vtex-flex-layout-0-x-flexRowContent--addToCartRow) :global(.vtex-flex-layout-0-x-flexCol--quickview-add) :global(.vtex-flex-layout-0-x-flexColChild--quickview-add) :global(.vtex-button) :global(.vtex-button__label)::before {
  content: "AGREGAR";
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--addToCartRow) :global(.vtex-flex-layout-0-x-flexRowContent--addToCartRow) :global(.vtex-flex-layout-0-x-flexCol--quickview-wish) :global(.vtex-flex-layout-0-x-flexColChild--quickview-wish) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-button__label) {
  padding-left: 1rem;
  padding-right: 1rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--addToCartRow) :global(.vtex-flex-layout-0-x-flexRowContent--addToCartRow) :global(.vtex-flex-layout-0-x-flexCol--quickview-wish) :global(.vtex-flex-layout-0-x-flexColChild--quickview-wish) :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-wish-list-1-x-outline) {
  background: url(/arquivos/heart.svg) no-repeat;
  background-position: center;
  background-size: 1.2rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickview-more) :global(.vtex-flex-layout-0-x-flexRowContent--quickview-more) {
  padding-bottom: 0.5rem;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickview-more) :global(.vtex-flex-layout-0-x-flexRowContent--quickview-more) :global(.vtex-store-link-0-x-buttonLink) {
  background: transparent;
  border: none;
  border-radius: 0;
}
.modal--quickview .container--quickview .paper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexRowContent--quickviewMainRow) :global(.vtex-flex-layout-0-x-flexCol--quickviewDetails) :global(.vtex-flex-layout-0-x-flexColChild--quickviewDetails) .actionsContainer--quickview .actionsContentWrapper--quickview :global(.vtex-flex-layout-0-x-flexRow--quickview-more) :global(.vtex-flex-layout-0-x-flexRowContent--quickview-more) :global(.vtex-store-link-0-x-buttonLink) :global(.vtex-store-link-0-x-label) {
  text-transform: lowercase;
  font-family: "Raleway", sans-serif;
  color: #595959;
  text-decoration: underline;
}

.triggerContainer--quickview {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 98;
  opacity: 0;
}
