@charset "UTF-8";
:global(.vtex-flex-layout-0-x-flexRowContent--navbar) .submenuWrapper--isOpen {
  border: 1px solid #ccc;
  z-index: 999;
  /* margin-top: 7px; */
  padding: 2rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar) .submenuWrapper--isOpen .menuItem {
  align-self: start;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar) .submenuWrapper--isOpen .submenu {
  flex-flow: wrap;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar) .submenuWrapper--isOpen .submenu :global(.vtex-rich-text-0-x-link--btn-more) {
  background: #2a86e4;
  color: white;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

/* submenú para desktop */
@media (min-width: 991px) {
  .submenuContainer :global(.vtex-flex-layout-0-x-flexRow) {
    width: 100%;
  }
}
/* header desktop */
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) :global(.vtex-disclosure-layout-1-x-trigger--mobile-search) {
  -webkit-appearance: unset;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  background: transparent;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) :global(.vtex-disclosure-layout-1-x-trigger--mobile-search) :global(.vtex-menu-2-x-menuItem) :global(.vtex-menu-2-x-styledLinkContainer) {
  margin-left: 0;
  margin-right: 0.3rem;
  margin-top: 0.25rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) :global(.vtex-disclosure-layout-1-x-content--visible) {
  position: absolute;
  right: 0;
  top: 3.5rem;
  width: 100%;
  z-index: 99;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) :global(.vtex-disclosure-layout-1-x-content--visible) :global(.vtex-store-components-3-x-searchBarContainer) {
  padding-bottom: 0;
  padding-top: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) :global(.vtex-disclosure-layout-1-x-content--visible) :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input-prefix__group) {
  height: inherit;
  background-color: white;
  border: 1px solid #C4C4C4;
  padding: 1.5rem;
  border-radius: 0;
  width: 100%;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) :global(.vtex-disclosure-layout-1-x-content--visible) :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) :global(.vtex-disclosure-layout-1-x-content--visible) :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) :global(.vtex-store-components-3-x-suffixWrapper) :global(.vtex-store-components-3-x-searchBarIcon--search) :global(.vtex-store-components-3-x-searchIcon) {
  color: #3f3f40;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) :global(.vtex-disclosure-layout-1-x-content--visible) :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-portalContainer) :global(.vtex-store-components-3-x-portalWrapper) :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
  width: 100vw;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) :global(.vtex-disclosure-layout-1-x-content--visible) :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-portalContainer) :global(.vtex-store-components-3-x-portalWrapper) :global(.vtex-search-2-x-biggy-autocomplete-wrapper) :global(.vtex-search-2-x-biggy-autocomplete) :global(.vtex-search-2-x-close-btn) :global(.vtex__icon-close) {
  background: #2a86e4;
  color: white;
  border-radius: 50%;
  padding: 0.3rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) .styledLinkContainer--orders {
  margin-left: 0;
  margin-right: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) .styledLinkContainer--orders .styledLink--orders .styledLinkContent--orders .styledLinkIcon--orders {
  padding-left: 0.75rem;
  margin-left: 0;
  margin-right: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-button__label) {
  padding-left: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-minicartIconContainer) {
  color: #3f3f40;
}

.menuContainerNav--rrss-footer {
  margin-bottom: 1rem;
}

.menuContainer--rrss-footer .styledLinkContainer {
  margin-right: 0px;
}

.menuContainerNav--rrss-footer .menuItem:nth-child(even) .styledLinkContainer {
  margin-left: 0px;
}

@media (max-width: 990px) {
  .menuContainerNav {
    margin: 0 auto;
    width: 90%;
  }
  .menuContainerNav .menuContainer .menuItem--menu-mobile-item .styledLinkContainer--menu-mobile-item {
    background: #f9f9f9;
    margin: 0.5rem 0;
    padding: 1rem 1rem;
    box-sizing: border-box;
    color: #606060;
    font-size: 1.2em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .menuContainerNav .menuContainer .menuItem--menu-mobile-item .styledLinkContainer--menu-mobile-item .styledLink--menu-mobile-item {
    color: #606060;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
  }
  .menuContainerNav .menuContainer .menuItem--menu-mobile-item .submenuAccordion .menuContainerNav {
    width: 100%;
  }
  .menuContainerNav .menuContainer .menuItem--menu-mobile-item .submenuAccordion .menuContainerNav .menuContainer .menuItem--header-title {
    padding: 6px;
    background: #f9f9f9;
    margin-bottom: 2px;
  }
  .menuContainerNav .menuContainer .menuItem--menu-mobile-item .submenuAccordion .menuContainerNav .menuContainer .menuItem--header-title .styledLinkContainer {
    margin-left: 0;
    margin-right: 0;
  }
  .menuContainerNav .menuContainer .menuItem--menu-mobile-item .submenuAccordion .menuContainerNav .menuContainer .menuItem--header-title .styledLinkContainer .styledLink .styledLinkContent {
    justify-content: unset;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    padding: 0.2rem 0;
  }
  .menuContainerNav .menuContainer .menuItem--menu-mobile-item .submenuAccordion .menuContainerNav .menuContainer .menuItem--header-title .styledLinkContainer .styledLink .styledLinkContent .styledLinkIcon {
    margin-right: 0.5rem;
  }
}
:global(.vtex-store-drawer-0-x-overlay) {
  background: black;
}
