@charset "UTF-8";
.flexRow--top-menu {
  background: linear-gradient(45deg, #f4f4f4 13%, #f4f4f4 72%);
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}
.flexRow--deals .stretchChildrenWidth,
.flexRow--deals .flexCol {
  align-items: center;
}

/* flex menu: topbar & navbar */
.flexRowContent--top-menu, .flexRowContent--navbar {
  padding: 0 0.5rem;
}
@media screen and (min-width: 40em) {
  .flexRowContent--top-menu, .flexRowContent--navbar {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--top-menu, .flexRowContent--navbar {
    padding: 0 0.25rem;
  }
}
.flexRowContent--top-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.7rem 0;
  width: 90%;
}
.flexRowContent--top-menu :global(.vtex-menu-2-x-styledLinkContainer) {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.flexRowContent--top-menu :global(.vtex-menu-2-x-styledLink) {
  color: #4d4d4d;
  font-size: 11px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.flexRowContent--top-menu :global(.vtex-menu-2-x-styledLinkContent) {
  padding: 0 0.6rem;
  border-right: 2px solid #8e8e8e;
}
.flexRowContent--top-menu :global(.vtex-menu-2-x-menuItem):first-child :global(.vtex-menu-2-x-styledLinkContent) {
  border-left: 2px solid #8e8e8e;
}
.flexRowContent--top-menu :global(.vtex-rich-text-0-x-paragraph--topbar-left) {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 13px;
  margin-bottom: 0;
  margin-top: 0;
  width: 80%;
  display: none;
}
.flexRowContent--navbar {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.flexRowContent--navbar :global(.vtex-menu-2-x-styledLink) {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
}
.flexRowContent--navbar :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-menuContainer) {
  margin-bottom: 1rem;
}
.flexRowContent--navbar :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-menu-2-x-styledLink) {
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 400;
}
.flexRowContent--navbar :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-menu-2-x-styledLink--header-title) {
  color: #2a86e4;
  font-size: 14px;
  font-weight: 700;
}
.flexRowContent--navbar :global(.vtex-menu-2-x-styledLinkContent) {
  align-items: center;
}
.flexRowContent--navbar :global(.vtex-menu-2-x-styledLinkContainer--otras) {
  width: min-content;
}
.flexRowContent--navbar :global(.vtex-menu-2-x-styledLinkContent--otras) {
  width: 60%;
  white-space: break-spaces;
}
.flexRowContent--navbar :global(.vtex-menu-2-x-menuItem) {
  align-self: center;
}
.flexRowContent--navbar :global(.vtex-menu-2-x-styledLinkContent--para-ti)::before {
  content: "";
  clear: both;
  height: 23px;
  width: 35px;
  display: inline-block;
  background-image: url(https://kayserltda.vteximg.com.br/arquivos/kayserparati_ico.gif?v=637534287903970000);
  background-size: 100%;
}
.flexRowContent--navbar-mobile {
  align-items: center;
  background-color: #f0f0f0;
  border-block-end: 1px solid #c6c6c6;
}
.flexRowContent--navbar-mobile :global(.vtex-store-components-3-x-logoContainer) {
  padding-left: 0px;
  padding-right: 0px;
}
.flexRowContent--top-menu :global(.vtex-menu-2-x-styledLink):hover, .flexRowContent--navbar :global(.vtex-menu-2-x-styledLink):hover {
  color: #8e8e8e;
}

/* end flex menu: topbar & navbar */
/* flex search: filter*/
.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}
.flexCol--productCountCol {
  align-items: flex-start;
}
.flexCol--orderByCol {
  align-items: flex-end;
}
.flexCol--orderByMobileCol {
  width: 42%;
}
.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}
.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRow--busquedas-footer {
  background: #f4f4f4;
}

.flexRow--credits {
  background: #e6e6e6;
}

/* landing 01: entre nosotras */
.flexRow--titulo {
  font-family: "Raleway", sans-serif;
  background-color: #ff0289;
  padding: 4%;
}
.flexRow--banner2 {
  font-family: "Raleway", sans-serif;
  width: 100%;
  background-color: #fbcfd7;
  padding: 3%;
  margin-top: 2rem;
}
.flexRow--contenedor-tallas-sostenes {
  background-color: #fbcfd7;
}
.flexRow--contenedor-tallas-calzones {
  background-color: #f1ac80;
  margin-bottom: 4rem;
}
.flexRow--banner3 {
  font-family: "Raleway", sans-serif;
  width: 100%;
  background-color: #f1ac80;
  padding: 3%;
  margin-top: 2rem;
}
.flexRow--contenedor-categoria-dos {
  margin: 1rem;
}

.flexRowContent--titulo {
  display: flex;
  justify-content: center;
}
.flexRowContent--contenedor-tallas-sostenes, .flexRowContent--contenedor-tallas-calzones {
  align-items: center;
  height: 6rem;
}
.flexRowContent--contenedor-link-sostenes, .flexRowContent--contenedor-link-calzones {
  align-items: center;
  justify-content: left;
  border-bottom: 2px dashed #ff0289;
  margin-bottom: 2rem;
}
.flexRowContent--contenedor-entre-nosotras {
  width: 100%;
  margin: 0;
  justify-content: center;
}
.flexRowContent--contenedor-tallas-sostenes .stretchChildrenWidth, .flexRowContent--contenedor-link-calzones .stretchChildrenWidth {
  width: fit-content !important;
}

.flexCol--landing-talla-text {
  margin-right: 1rem;
}
.flexCol--landing-talla-btn {
  flex-direction: row;
  gap: 0.5rem;
}

.flexRowContent--banner2 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--banner3 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement) {
  border-radius: 10px;
  width: 95%;
}

@media screen and (min-width: 1026px) and (max-width: 1279px) {
  .flexCol--landing-talla-btn {
    flex-flow: wrap;
    gap: 0.5rem;
    height: 1.5rem;
  }

  .flexRowContent--contenedor-link-sostenes {
    align-items: center;
    justify-content: left;
    border-bottom: 2px dashed #ff0289;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .flexRow--contenedor-categoria-dos-mobile {
    margin: 1rem 0rem;
  }
}
@media screen and (min-width: 640px) and (max-width: 1025px) {
  .flexRow--banner2, .flexRow--banner3 {
    width: 100%;
    padding: 2.5rem 4rem;
    margin-top: 2rem;
  }
  .flexRow--contenedor-tallas-sostenes {
    background-color: #fbcfd7;
    height: 8rem;
  }
  .flexRow--contenedor-tallas-calzones {
    height: 8rem;
    margin-bottom: 2rem;
  }

  .flexCol--landing-talla-btn {
    flex-flow: wrap;
    gap: 0.5rem;
    height: 2rem;
    justify-content: center;
  }
  .flexCol--img-calzones-text, .flexCol--img-sostenes-text {
    -webkit-box-align: none;
    align-items: start;
    margin-bottom: 1rem;
  }
  .flexCol--landing-talla-text {
    margin-right: 0;
  }

  .flexRowContent--banner2, .flexRowContent--banner3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flexRowContent--contenedor-link-sostenes {
    align-items: center;
    justify-content: left;
    border-bottom: 2px dashed #ff0289;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .flexRowContent :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: fit-content !important;
  }
  .flexRowContent--contenedor-entre-nosotras {
    padding: 0rem 1rem;
  }

  .flexRowContent--banner2 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--banner3 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement) {
    border-radius: 10px;
    width: 20rem;
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 770px) {
  .flexRow--contenedor-tallas-sostenes {
    background-color: #fbcfd7;
    height: 12rem;
  }
  .flexRow--contenedor-tallas-calzones {
    height: 8rem;
  }

  .flexRowContent--contenedor-link-sostenes {
    height: 12rem;
  }
  .flexRowContent--contenedor-link-calzones {
    height: 8rem;
  }

  .flexRowContent--banner2 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--banner3 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement) {
    border-radius: 10px;
    width: 15rem;
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 639px) {
  .flexCol--landing-talla-btn {
    flex-flow: wrap;
    gap: 0.5rem;
    height: 2rem;
    justify-content: center;
  }
  .flexCol--img-calzones-text, .flexCol--img-sostenes-text {
    -webkit-box-align: none;
    margin-bottom: 1rem;
    align-items: start;
  }

  .flexRowContent--contenedor-link-sostenes {
    height: 9rem;
  }
  .flexRowContent--contenedor-link-calzones {
    height: 7rem;
  }
  .flexRowContent--contenedor-entre-nosotras {
    display: flex;
    padding: 0rem 0.5rem;
  }

  .flexRowContent--banner2 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--banner3 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement) {
    border-radius: 10px;
    width: 14rem;
    margin-top: 1.5rem;
  }

  .flexRow--banner2, .flexRow--banner3 {
    width: 100%;
    padding: 2.5rem 2rem 1rem 2rem;
    margin-top: 2rem;
  }
  .flexRow--contenedor-tallas-sostenes {
    background-color: #fbcfd7;
    height: 12rem;
  }
  .flexRow--contenedor-tallas-calzones {
    height: 8rem;
    margin-bottom: 2rem;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--contenedor-categoria-dos) {
    display: flex;
  }
}
@media screen and (max-width: 585px) {
  .flexRow--contenedor-tallas-sostenes {
    background-color: #fbcfd7;
    height: 14rem;
  }
  .flexRow--contenedor-tallas-calzones {
    height: 10rem;
  }

  .flexRowContent--contenedor-link-sostenes {
    height: 12rem;
  }
  .flexRowContent--contenedor-link-calzones {
    height: 9rem;
  }

  .flexRowContent--banner2 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--banner3 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement) {
    width: 12rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 490px) {
  .flexRowContent--banner2 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--banner3 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement) {
    width: 10.5rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 415px) {
  .flexRowContent--banner2 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--banner3 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement) {
    width: 9rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 392px) {
  .flexRow--contenedor-tallas-sostenes {
    background-color: #fbcfd7;
    height: 16rem;
  }

  .flexRowContent--contenedor-link-sostenes {
    height: 14rem;
  }
}
@media screen and (max-width: 380px) {
  .flexRowContent--banner2 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--banner3 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement) {
    width: 8rem;
  }
}
@media screen and (max-width: 320px) {
  .flexRow--contenedor-tallas-sostenes {
    background-color: #fbcfd7;
    height: 18rem;
  }

  .flexRowContent--contenedor-link-sostenes {
    height: 16rem;
  }
  .flexRowContent--contenedor-link-calzones {
    height: 9rem;
  }

  .flexRowContent--banner2 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement),
.flexRowContent--banner3 :global(.vtex-stack-layout-0-x-stackItem) :global(.vtex-store-components-3-x-imageElement) {
    width: 7rem;
  }
}
:global(.vtex-store-components-3-x-imageElement--img-banner) {
  width: -webkit-fill-available;
}

/* end entre nosotras*/
/* Landing cyber */
.flexRow--cyber {
  background-color: #f7f7f7;
}
.flexRow--cyber .flexRowContent--cyber .flexCol--newsletter-cyber {
  justify-content: center;
}
.flexRow--cyber .flexRowContent--cyber .flexCol--newsletter-cyber .flexColChild--newsletter-cyber :global(.vtex-rich-text-0-x-container--title-newsletter) :global(.vtex-rich-text-0-x-wrapper--title-newsletter) :global(.vtex-rich-text-0-x-heading) {
  color: #2a86e4;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 0px;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) {
  width: 100%;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-confirmationTitle) {
  color: #2a86e4;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-confirmationTitle)::before {
  content: "¡";
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-confirmationText) {
  font-family: "Raleway", sans-serif;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-form) {
  max-width: 95%;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-form) :global(.vtex-store-components-3-x-label) {
  display: none;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-form) :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(130, 130, 130, 0.4);
  height: 43px;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-form) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
  background-color: white;
  color: #4d4d4d;
  font-family: "Raleway", sans-serif;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-form) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #4d4d4d;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-form) :global(.vtex-store-components-3-x-buttonContainer) {
  padding-left: 0.3rem;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-form) :global(.vtex-store-components-3-x-buttonContainer) :global(.vtex-button) {
  background-color: #2a86e4;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  height: 43px;
  text-transform: capitalize;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-form) :global(.vtex-store-components-3-x-buttonContainer) :global(.vtex-button) :global(.vtex-button__label) {
  font-size: 0;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) :global(.vtex-store-components-3-x-form) :global(.vtex-store-components-3-x-buttonContainer) :global(.vtex-button) :global(.vtex-button__label)::before {
  content: "Inscribirme";
  font-size: 1rem;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-rich-text-0-x-paragraph) {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 0.9rem;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-rich-text-0-x-listOrdered) {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 1rem;
}
.flexRow--cyber .flexRowContent--cyber :global(.vtex-rich-text-0-x-listOrdered) :global(.vtex-rich-text-0-x-listItem) {
  margin-bottom: 0.6rem;
}

:global(.vtex-flex-layout-0-x-flexRow--mid-cyber) {
  background-color: #f9f2ad;
}
:global(.vtex-flex-layout-0-x-flexRow--mid-cyber) :global(.vtex-rich-text-0-x-container--title-mid-cyber) {
  justify-content: center;
}
:global(.vtex-flex-layout-0-x-flexRow--mid-cyber) :global(.vtex-rich-text-0-x-container--title-mid-cyber) :global(.vtex-rich-text-0-x-heading) {
  color: #f80989;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 0;
}
:global(.vtex-flex-layout-0-x-flexRow--mid-cyber) :global(.vtex-rich-text-0-x-headingLevel5) {
  color: #f80989;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRow--mid-cyber) :global(.vtex-rich-text-0-x-paragraph) {
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
}

/* End landing cyber */
.flexRow--topbar-despacho {
  background-image: url(https://kayserltda.vteximg.com.br/arquivos/fondo-bottonBar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: 900;
  font-size: 11px;
  font-family: "Raleway", sans-serif;
}
.flexRow--topbar-despacho .flexRowContent--topbar-despacho {
  justify-content: center;
}
.flexRow--topbar-despacho .flexRowContent--topbar-despacho .stretchChildrenWidth {
  align-self: center;
  width: fit-content !important;
}
.flexRow--topbar-despacho .flexRowContent--topbar-despacho .stretchChildrenWidth .flexCol--despacho-left .flexColChild--despacho-left :global(.vtex-rich-text-0-x-container--top-left) {
  justify-content: center;
}
.flexRow--topbar-despacho .flexRowContent--topbar-despacho .stretchChildrenWidth .flexCol--despacho-left .flexColChild--despacho-left :global(.vtex-rich-text-0-x-container--top-left) :global(.vtex-rich-text-0-x-wrapper--top-left) :global(.vtex-rich-text-0-x-paragraph--top-left) {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
}

.flexRow--mini-banners :global(.vtex-store-components-3-x-container) .flexRowContent--mini-banners {
  gap: 2rem;
}

.flexRow--contact {
  margin-top: 2rem;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-textarea) {
  margin-bottom: 0.8rem;
  display: inline-flex;
  width: 100%;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-textarea) :global(.vtex-textarea__label) {
  font-family: "Raleway", sans-serif;
  color: #adacac;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
  width: fit-content;
  margin-right: 1rem;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-textarea) :global(.vtex-textarea__input) {
  margin-right: 1rem;
  border: 1px solid #adacac;
  border-radius: 0;
  height: 4rem;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-dropdown) {
  margin-bottom: 0.8rem;
  display: block;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-dropdown) :global(.vtex-dropdown__label) {
  font-family: "Raleway", sans-serif;
  color: #adacac;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
  width: fit-content;
  margin-right: 1rem;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-dropdown) :global(.vtex-styleguide-9-x-container) {
  border: 0;
  border-bottom: 1px solid #adacac;
  height: 1rem;
  width: -webkit-fill-available;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  margin-right: 1rem;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-input) {
  margin-bottom: 0.8rem;
  display: inline-flex;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-input) :global(.vtex-input__label) {
  font-family: "Raleway", sans-serif;
  color: #adacac;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
  width: fit-content;
  margin-right: 1rem;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-input) :global(.vtex-input-prefix__group) {
  height: 1rem;
  border: 0;
  width: -webkit-fill-available;
  padding-right: 1rem;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
  border-bottom: 1px solid #adacac;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  border-radius: 0;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-store-form-0-x-formSubmitContainer) :global(.vtex-store-form-0-x-formSubmitButton) :global(.vtex-button) {
  background: #2a86e4;
  border: none;
  font-family: "Raleway", sans-serif;
  border-radius: 0;
  min-height: 2rem;
}
.flexRow--contact :global(.vtex-store-components-3-x-container) .flexRowContent--contact :global(.vtex-store-form-0-x-formSubmitContainer) :global(.vtex-store-form-0-x-formSubmitButton) :global(.vtex-button) :global(.vtex-button__label) {
  padding-right: 4rem;
  padding-left: 4rem;
  font-size: 0.85rem;
  font-weight: 600;
}

.flexRowContent--catalogo-descarga .flexCol {
  align-items: center;
}
.flexRowContent--catalogo-descarga .flexCol :global(.vtex-store-link-0-x-link) :global(.vtex-store-link-0-x-label) {
  font-size: 0.9rem;
  text-transform: capitalize;
}

.flexRow--container-img-shelf {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 5%;
  margin-top: 3%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  height: 84%;
}

.flexRow--container-img-shelf-2 {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 99%;
  background-color: white;
  border-bottom-left-radius: 20px;
}

.flexRow--row-imperdible-top {
  width: 90%;
  margin-top: 3%;
  margin-left: 93px;
  margin-bottom: 4%;
}

.flexCol--col-imperdible {
  margin-right: 20%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  margin-left: 30px;
  width: 110% !important;
  background: white;
  max-width: 200%;
}

@media screen and (min-width: 300px) {
  .flexCol--col-top-10 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 20%;
    width: 100% !important;
    border-radius: 20px;
    background: white;
  }
}
.flexRow--contenedor-seguro-gusta {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 3%;
  align-items: center;
  background: white;
}

.flexColChild--productos-shelf-2 {
  margin-left: 0.8rem;
}

.flexRow--contenedor-row-ofertas {
  margin-left: 0.8rem;
}

.flexRow--body-para-ti {
  background: #f1f1f1;
}

.flexRow--body-para-ti {
  background: #f1f1f1;
}

.flexColChild--productos-shelf {
  height: 100%;
  width: 95%;
}

.flexCol--productos-shelf,
.flexCol--productos-shelf-2 {
  margin-left: 0;
}

.flexColChild--productos-shelf-2 {
  height: 100%;
  width: 95%;
}

.flexColChild--col-imperdible,
.flexColChild--col-top-10 {
  padding-left: 2%;
  padding-right: 1%;
}

.flexCol--sostenes-mobile, .flexCol--calzones-mobile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flexRow--body-para-ti-mobile {
  background: #f1f1f1;
  margin-top: -4px;
}

.flexRow--container-mobile-shelf {
  padding: 15px;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 3%;
  box-shadow: 2px 3px rgba(110, 108, 108, 0.3);
  background-color: white;
  height: 84%;
  border-radius: 20px;
}

.flexRow--container-mobile-shelf-1 {
  padding: 15px;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 35px;
  box-shadow: 2px 3px rgba(110, 108, 108, 0.3);
  background-color: white;
  height: 84%;
  border-radius: 20px;
}

.flexRow--contenedor-especiales-para-ti {
  background: white;
}

:global(.vtex-rich-text-0-x-container--shelfTitle) {
  margin-top: 2rem;
}

.flexRowContent--categoria-home-mobile-botones {
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.flexRowContent--categoria-home-mobile-botones .stretchChildrenWidth {
  width: fit-content !important;
}
.flexRowContent--categoria-home-mobile-botones .stretchChildrenWidth :global(.vtex-store-link-0-x-link) {
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 1rem;
}

.flexRowContent--bar-not-found {
  flex-wrap: wrap;
}
.flexRowContent--bar-not-found .flexCol--input-not-found .flexColChild--input-not-found :global(.vtex-store-components-3-x-searchBarContainer) {
  margin: 0 auto;
}
.flexRowContent--bar-not-found .flexCol--input-not-found .flexColChild--input-not-found :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input) :global(.vtex-input-prefix__group) {
  border-radius: 0;
  width: unset;
  height: 2rem;
}
.flexRowContent--bar-not-found .flexCol--input-not-found .flexColChild--input-not-found :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
  font-style: unset;
  font-size: 0.85rem;
}
.flexRowContent--bar-not-found .flexCol--input-not-found .flexColChild--input-not-found :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-store-components-3-x-searchBarInnerContainer) :global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
  height: 2rem;
  border-radius: 0;
  padding-left: 2rem;
  padding-right: 1.5rem;
  right: 0;
  background-color: #2a86e4;
}
