.trigger--question {
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    @media(min-width: 991px){
        padding: 0 3rem;
    }
    :global(.vtex-rich-text-0-x-paragraph) {
        color: #267cb6;
        font-weight: 600;
        font-size: .9rem;
        letter-spacing: .05rem;
        @media(max-width: 990px){
            font-size: .8rem;
            letter-spacing: 0;
        }
    }
    :global(.vtex-rich-text-0-x-link){
        text-decoration: none;
        color: inherit;
    }
}

.trigger :global(.vtex-store-icons-0-x-caretIcon) {
    margin-right: 1rem;
}

.content--answer {
    @media(min-width: 991px){
        padding: 0 3rem;
    }
    transition: opacity 250ms ease-in-out, height 250ms ease-in-out,
        transform 250ms ease-in-out;
    opacity: 0;
    height: 0;
    transform: translate3d(0, -10%, 0);
    :global(.vtex-rich-text-0-x-paragraph){
        color: #555;
        font-size: .8rem;
        margin-top: 0;
        @media(max-width: 990px){
            font-size: .7rem;
        }
    }
    &[data-enter] {
        opacity: 1;
        height: fit-content;
        transform: translate3d(0, 0, 0);
    }

    &[data-leave] {
        height: 0;
        overflow: hidden;
    }

    :global(.vtex-rich-text-0-x-link){
        padding: 0rem .9rem;
        background: #267cb6;
        color: white;
        border-radius: 10px;
        display: inline-block;
        text-decoration: none;
    }
}