.containerDesktop {
  font-family: Raleway;
  display: inline-flex;
  justify-content: center;
  flex-wrap: row;
  width: 100%;
  padding: 2rem;
  background: #cfe0f3;
}

/*Paso activo*/

.pasoUnoContainer {
  background-color: #2a86e4;
  color: white;
  text-align: center;
  width: 100%;
  height: 15%;
}

.pasoDosContainer, .pasoTresContainer {
  background: #EAF2FB;
  color: #270165;
  text-align: center;
  width: 100%;
  height: 15%;
}

.circuloOn {
  width: 25px;
  height: 25px;
  margin: auto;
  font-size: 16px;
  text-align: center;
  border: 2px solid white;
  border-radius: 100%;
}

.circuloOff {
  width: 25px;
  height: 25px;
  margin: auto;
  font-size: 16px;
  text-align: center;
  border: 2px solid #270165;
  border-radius: 100%;
}

.genderContainer {
  height: 10%;
  padding-top: 5%;
}

.sectionContainer {
  height: 68%;
}

.finalizar {
  background: #EAF2FB;
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-height: 20%;
  text-align: center;
}

.promosItem {
  display: block;
  width: 95%;
  margin: 0 auto;
}

.promos {
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}

/*Botones gender*/

.btngenderH, .btngenderM, .btngenderK {
  font-weight: 600;
  font-size: 12px;
  min-height: 2rem;
  margin: 0 0.2rem;
  background: #FFFFFF;
  color: #2A86E4;
  border: 1.5px solid #2A86E4;
  border-radius: 5px;
  cursor: pointer;
}

.btngenderH:hover, .btngenderM:hover, .btngenderK:hover {
  opacity: 0.6;
}

.btngenderH, .btngenderM {
  width: 30%;
}

.btngenderK {
  width: 40%;
}

.genderBtnContainer {
  display: flex;
  margin: 0 auto;
  width: 95%;
  justify-content: space-between;
}

.product {
  font-size: 16px;
}

.textProduct {
  text-align: center;
  width: 50%;
  margin: 25%;
  font-weight: 600;
  font-size: 20px;
  color: #2A86E4;
  opacity: 0.5;
  font-family: Raleway;
}

.descuento {
  font-family: Raleway;
  margin: 0 auto;
  font-size: 9px;
  text-align: center;
  color: #2A86E4;
}

.promosH, .promosM, .promosT {
  padding: 2%;
  width: 21%;
  cursor: pointer;
}

.promosH:hover, .promosM:hover, .promosT:hover {
  opacity: 0.6;
}

/*Botรณn atrรกs*/

.back {
  background: #cfe0f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #2A86E4;
}

.btnAzul {
  width: 45px;
  margin: 1%;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.imgselected {
  height: 240px;
}

.productContainer {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #270165;
}

/*Botones cantidad*/

.btntalla {
  width: 3rem;
  height: 1.8rem;
  margin: 1%;
  background: #2A86E4;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.contTallas {
  text-align: center;
}

.quality {
  display: inline-flex;
  align-items: center;
}

.containerMath {
  display: flex;
  align-items: center;
  background: #cfe0f3;
  border-radius: 5px;
  height: 2.5rem;
  margin: 0 3%;
}

.agregar {
  background: #2A86E4;
  border-radius: 5px;
  color: white;
  width: 7rem;
  height: 2.5rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

/*Botรณn talla Activo*/

.active {
  background-color: #270165;
  width: 3rem;
  height: 1.8rem;
  margin: 1%;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 16px;
}

/*Productos*/

.variants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.imgselection {
  padding: 2%;
  margin: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px #FF408D dashed;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.imgCarro {
  width: 3rem;
  height: 3rem;
  border-radius: 150px;
  border: 2px rgb(255, 64, 141) solid;
  margin-right: 1rem;
}

.imgBasu {
  margin-left: 1rem;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

/* Contenedor elementos carrito */

.carrito {
  align-items: center;
  display: flex;
  height: 70%;
  flex-direction: column;
}

.nomCarro {
  width: 50%;
  font-size: 12px;
  color: #A59DB3;
}

.carritoProd {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8f3ff;
  border-radius: 5px;
  width: 90%;
  height: 80px;
  margin: 1%;
}

.prodItemID {
  display: none;
}

.prodCant {
  text-align: center;
  color: white;
  margin-top: 45px;
  margin-right: 160px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(255, 64, 141);
  border-radius: 150px;
  font-size: 18px;
  z-index: 1;
  position: absolute;
}

.numero {
  align-self: center;
  text-align: center;
}

.rest {
  background: #cbe3ff;
  border: none;
  color: #2A86E4;
  font-size: 20px;
  margin-left: 3%;
  width: 2rem;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.sum {
  background: #cbe3ff;
  border: none;
  color: #2A86E4;
  font-size: 20px;
  margin-right: 3%;
  width: 2rem;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.input {
  color: #2A86E4;
  font-size: 24px;
  font-weight: 600;
  width: 2rem;
  height: 2rem;
}

.textFaltan {
  font-family: Arial;
  text-align: center;
  font-size: 14px;
  color: #6E3CBF;
  border: 2px #6E3CBF;
  border-radius: 5px;
  border-style: solid;
  width: 19rem;
  height: 2rem;
  justify-content: center;
  padding: 5px;
  margin-top: -5%;
}

.containerTeFaltan {
  margin: 0 auto;
}

.containerprueba {
  display: block;
  width: 100%;
  height: 800px;
  background-color: #1c1e20e3;
  z-index: 2;
  position: absolute;
  text-align: -webkit-center;
}

.btnaddcart {
  background: #FF408D;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 90%;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  margin: 5% 0;

  &:hover {
    opacity: 0.6;
  }
}

.divBtnAddCart {
  display: flex;
  justify-content: space-around;
}

.msjepack {
  padding: 5%;
  align-items: center;
  width: 40%;
  font-size: 20px;
  color: white;
  background-color: #3b98f5;
  margin-top: 15%;
  border-radius: 20px;
}

.textPack {
  margin-top: 0%;
}

.btnPopup {
  background-color: white;
  color: #3b98f5;
  text-decoration: none;
  margin: 1rem;
  padding: 1% 5%;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.textPedido {
  font-family: Raleway;
  color: #007CB6;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 4% 0;
}

/*Media Queries Mobile max-width 799px*/

@media screen and (max-width: 899px) {
  .containerDesktop {
    display: none;
  }

  .containerMobile {
    font-family: Raleway;
    display: inline-flex;
    justify-content: center;
    flex-wrap: row;
    width: 100%;
    padding: 2rem;
    background: #cfe0f3;
  }

  /* Columnas */

  .blockLeftMobile {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: #FAFCFE;
    height: 580px;
    border-bottom: 1px solid #2A86E4;
  }

  .subBlockLeft, .subBlockCenter, .subBlockRight {
    border-top: 1px solid #2A86E4;
    border-left: 1px solid #2A86E4;
    border-right: 1px solid #2A86E4;
    height: 500px;
  }

  .blockCenterMobile, .blockRightMobile {
    flex-direction: column;
    width: 320px;
    background-color: #FAFCFE;
    height: 580px;
    border-bottom: 1px solid #2A86E4;
  }

  /*Botones promociones*/

  .promo {
    font-family: "Open Sans";
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 46%;
    height: 4rem;
    margin: 3% 2%;
    color: rgb(20, 106, 192);
    font-size: 14px;
    background: rgb(234, 242, 251);
    border: 1px solid rgba(42, 135, 228, 0.725);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  .X {
    text-align: center;
    justify-content: center;
    height: 35px;
  }

  .price {
    margin: 0 auto;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #2A86E4;
    cursor: pointer;
  }

  .backContainer {
    height: 8.8%;
  }

  .textBlock {
    font-size: 10px;
  }

  .pasosContainer {
    display: flex;
    justify-content: space-between;
  }

  .pasoUnoContainer, .pasoDosContainer, .pasoTresContainer {
    padding-top: 3% !important;
    color: white;
    text-align: center;
    width: 33%;
    height: 80px;
    border-radius: 5px 5px 0 0;
    background-color: #2A86E4;
  }

  .pasoOffContainer {
    padding-top: 3% !important;
    text-align: center;
    width: 33%;
    height: 80px;
    border-radius: 5px 5px 0 0;
    background-color: #d4dce5 !important;
    color: #727272 !important;
  }

  .pasoTresContainer {
    margin: 0;
    margin-right: 0;
  }

  .circuloOff {
    border: 1px solid #727272 !important;
  }

  .btnaddcart {
    background: #FF408D;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 75%;
    height: 2rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
  }

  .input {
    font-size: 22px !important;
    height: 1.8rem !important;
  }

  .agregar {
    font-size: 15px !important;
  }
}

/*Media Queries 1023px - 900px*/

@media screen and (min-device-width: 900px) and (max-device-width: 1023px) {
  .containerMobile {
    display: none;
  }

  /* Columnas */

  .blockLeft, .blockRight {
    flex-direction: column;
    width: 340px;
    border: 1px solid #2A86E4;
    background-color: #FAFCFE;
    height: 580px;
  }

  .blockCenter {
    flex-direction: column;
    width: 480px;
    border: 1px solid #2A86E4;
    background-color: #FAFCFE;
    height: 580px;
    margin: 0px 10px;
  }

  /*Botones promociones*/

  .promo {
    font-family: "Open Sans";
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 46%;
    height: 4rem;
    margin: 3% 2%;
    color: rgb(20, 106, 192);
    font-size: 14px;
    background: rgb(234, 242, 251);
    border: 1px solid rgba(42, 135, 228, 0.725);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  .X {
    text-align: center;
    justify-content: center;
    height: 30px;
  }

  .price {
    margin: 0 auto;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    color: #2A86E4;
    cursor: pointer;
  }

  .descuento {
    font-size: 8px !important;
  }

  .backContainer {
    height: 8.9%;
  }

  .textBlock {
    font-size: 12px;
  }

  .btngenderH, .btngenderM, .btngenderK {
    font-size: 9px !important;
  }

  .containerMath, .agregar {
    height: 2rem !important;
  }

  .input {
    font-size: 20px !important;
  }

  .textFaltan {
    font-size: 12px !important;
    height: 1.5rem !important;
    margin-top: -5% !important;
    width: 15rem !important;
  }

  .prodCant {
    margin-left: 2.5rem !important;
  }

  .btnaddcart {
    font-size: 17px !important;
  }

  .textBlock {
    margin: 0px;
    padding: 1rem;
  }

  .sectionContainer {
    height: 66.2%;
  }
}

/*Media Queries 1024px - 1279*/

@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .containerMobile {
    display: none;
  }

  /* Columnas */

  .blockLeft, .blockRight {
    display: flex;
    flex-direction: column;
    width: 340px;
    border: 1px solid #2A86E4;
    background-color: #FAFCFE;
    height: 600px;
  }

  .blockCenter {
    display: flex;
    flex-direction: column;
    width: 520px;
    border: 1px solid #2A86E4;
    background-color: #FAFCFE;
    height: 600px;
    margin: 0px 10px;
  }

  /*Botones promociones*/

  .promo {
    font-family: "Open Sans";
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 46%;
    height: 4rem;
    margin: 3% 2%;
    color: rgb(20, 106, 192);
    font-size: 14px;
    background: rgb(234, 242, 251);
    border: 1px solid rgba(42, 135, 228, 0.725);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  .X {
    text-align: center;
    justify-content: center;
    height: 35px;
  }

  .price {
    margin: 0 auto;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #2A86E4;
    cursor: pointer;
  }

  .backContainer {
    height: 8.8%;
  }

  .prodCant {
    margin-left: 1.5rem !important;
  }
}

/*Media Queries min-width 1280*/

@media screen and (min-width: 1280px) {
  .containerMobile {
    display: none;
  }

  /* Columnas */

  .blockLeft, .blockRight {
    display: flex;
    flex-direction: column;
    width: 380px;
    border: 1px solid #2A86E4;
    background-color: #FAFCFE;
    height: 700px;
  }

  .blockCenter {
    display: flex;
    flex-direction: column;
    width: 560px;
    border: 1px solid #2A86E4;
    background-color: #FAFCFE;
    height: 700px;
    margin: 0px 10px;
  }

  /*Botones promociones*/

  .promo {
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 46%;
    height: 4rem;
    margin: 3% 2%;
    color: #146ac0;
    font-size: 18px;
    background: #EAF2FB;
    border: 1px solid #2a87e4b9;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  .X {
    text-align: center;
    justify-content: center;
    height: 40px;
  }

  .price {
    margin: 0 auto;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    color: #2A86E4;
    cursor: pointer;
  }

  .backContainer {
    height: 7.7%;
  }
}