.sliderContainer{
    background-color: #ffffff;
    border-radius: 2px;
    height: 10px;
    margin: 10px 0;
}
.barContainer{
    border-radius: 2px;
    background: #2a86e4 !important;
    height: 10px;
    transition: width 1s;
}
.text1,
.text2,
.text3{
    color: #267cb6;
    font-weight: 700;
    font-size: 0.8rem !important;
    padding: 0 3px;
}

.text4{
    font-size: 0;
    &::before{
        content: 'envío gratis!';
        color: #267cb6;
        font-weight: 700;
        font-size: 0.8rem !important;
        padding: 0 3px;
    }
}

.currencyText{
    font-size: 14px;
    font-weight: bold;
    color: #267cb6;
}

