.sliderText {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  .currencyText {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
  }
}

.text0,
.text1,
.text2,
.text3,
.text4 {
  color: white;
  margin-left: 0.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}
