.sliderContainer{
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    height: 10px;
    margin: 10px 0;
}
.sliderText{
    text-align: end;
    margin-top: 0;
}
.barContainer{
    border-radius: 10px;
    background: #2a86e4 !important;
    height: 10px;
    transition: width 1s;
}
.text2,
.text3,
.text4,
.currencyContainer,
.currencyText{
    color: #267cb6;
    font-weight: 700;
    font-size: 12px !important;
    text-align: right;
}

.freigthScaleContainer{
    box-shadow: none;
    padding: 0px 35px;
}

.text1{
    display: none;
}

.currencyInteger:last-child{
    &::after{
        content: ' para RM';
        font-size: 12px !important;
    }
}