// SUPER BUSCADOR
.biggy-autocomplete-wrapper{
    .biggy-autocomplete{
      margin-top: 1px;
      .itemList{
        font-family: 'Raleway', sans-serif;
      }
      .history-and-top-wrapper{
        .itemListTitle{
          font-size: 1.1rem;
          font-weight: bold;
          color: #2a86e4;
        }
      }
      .itemList--suggestion{
        .itemListTitle{
          font-size: 1.1rem;
          font-weight: bold;
          color: #2a86e4;
        }
      }
      //LISTA DE PRODUCTOS
      .tileList{
        .tileListTitle{
          font-size: 1.1rem;
          font-weight: bold;
          color: #2a86e4;
        }
        //PRODUCTOS
        .tileListList{
          .tileListItem{
            .element{
              width: 100vw;
              .imageContainer{
                height: 8rem;
                max-height: 8rem;
              }
              .information{
                .productNameContainer{
                  .productBrand{
                    font-family: 'Raleway', sans-serif;
                  }
                }
                .priceContainer{
                  display: inline-flex;
                  .listPrice{
                    .listPriceValue{
                      .currencyContainer{
                        font-family: 'Raleway', sans-serif;
                        font-size: 1rem;
                        margin-right: 1rem;
                      }
                    }
                  }

                  .sellingPrice{
                    .sellingPriceValue{
                      .currencyContainer{
                        font-family: 'Raleway', sans-serif;
                        color: #ff0000;
                        font-size: 1rem;
                      }
                    }
                  }
                }
              }
            }

            @media(min-width: 991px){
              :global(.vtex-product-summary-2-x-container){
                :global(.vtex-product-summary-2-x-clearLink){
                  // PRODUCTO
                  :global(.vtex-product-summary-2-x-element){
                    padding-left: .3rem;
                    padding-right: .3rem;
                    :global(.vtex-product-summary-2-x-information){
                      
                      // NOMBRE
                      :global(.vtex-product-summary-2-x-nameContainer){
                        padding: 0;
                        :global(.vtex-product-summary-2-x-productBrand){
                          color: #2e2e2e;
                          font-size: 12px;
                          font-weight: 700;
                        }
                      }

                      :global(.vtex-product-summary-2-x-priceContainer){
                        align-items: flex-start;
                        padding-bottom: 0;
                        padding-top: 0;
                        :global(.vtex-product-summary-2-x-price_className){
                          :global(.vtex-product-summary-2-x-price_listPriceContainer){
                            :global(.vtex-product-summary-2-x-price_listPriceLabel){
                              display: none;
                            }
                            :global(.vtex-store-components-3-x-listPriceValue){
                              :global(.vtex-product-summary-2-x-currencyContainer){
                                color: #727273;
                                font-size: .875rem;
                              }
                            }
                          }
                          :global(.vtex-product-summary-2-x-price_sellingPriceContainer){
                            :global(.vtex-store-components-3-x-sellingPriceLabel){
                              display: none;
                            }
                            :global(.vtex-store-components-3-x-sellingPrice){
                              :global(.vtex-product-summary-2-x-currencyContainer){
                                color: #ff0000;
                                font-size: 1.1rem;
                                font-weight: 800;
                              }
                            }
                          }

                          :global(.vtex-store-components-3-x-installmentsPrice){
                            display: none;
                          }
                        }
                      } 
                    }
                  }

                  //BTN PRODUCTO
                  :global(.vtex-product-summary-2-x-buyButtonContainer){
                    padding-top: 0;
                    padding-bottom: 0;
                    :global(.vtex-product-summary-2-x-buyButton){
                      :global(.vtex-button){
                        display: none;
                        border: 0;
                        min-height: 2rem;
                        :global(.vtex-button__label){
                          font-size: 0;
                          margin: 0 auto;
                          &::before{
                            content: 'Comprar';
                            font-size: .8rem;
                            text-transform: capitalize;
                            font-weight: bold;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        
        //FOOTER
        .tileListFooter{
          .tileListSeeMore{
            font-size: 0;
            &::before{
              font-size: 1rem;
              font-family: 'Raleway', sans-serif;
              content: 'ver todos';
              color: #3F3F40;
              text-decoration: underline;
              @media(min-width: 991px){
                font-size: .9rem;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }