@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500&display=swap");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400&display=swap");


// LOADINGS
:global(.vtex-render-runtime-8-x-loadingBarAnimation){
  background:#2a86e4;
}

:global(.vtex-styleguide-9-x-rotate){
  color:#2a86e4;
}

/* add transitions */

:global(.vtex-sticky-layout-0-x-container) {
  :global(.vtex-store-components-3-x-logoLink),
  :global(.vtex-minicart-2-x-openIconContainer),
  :global(.vtex-store-components-3-x-searchBarContainer) {
    transition: all 0.3s ease;
    display: block;
  }
}

/* desktop/mobile main header padding and background transitions */

:global(.vtex-flex-layout-0-x-flexRowContent--navbar),
:global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) {
  transition: background 0.3s ease;
  will-change: padding, background;
}

/* main header desktop has a bigger padding when not stuck */

:global(.vtex-flex-layout-0-x-flexRowContent--navbar) {
  background-color: white;
}

/* add a box-shadow to desktop/mobile header when stuck */

:global(.vtex-sticky-layout-0-x-wrapper--stuck) {
  :global(.vtex-flex-layout-0-x-flexRowContent--navbar),
  :global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--navbar) {
    transition: padding 0.3s ease, background 0.3s ease;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/*
 * remove the extra padding when stuck from the desktop header
 * we add a transition only when "stuck" for the "unstick" step seem faster
 */

/* if supported add some translucency to the desktop/mobile header background */
@supports (backdrop-filter: blur(5px)) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck) {
    :global(.vtex-flex-layout-0-x-flexRowContent--navbar),
    :global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) {
      backdrop-filter: blur(8px);
    }

    &:not(:hover) {
      :global(.vtex-flex-layout-0-x-flexRowContent--navbar),
      :global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) {
        background: rgba(240, 240, 240, 0.8);
      }
    }
  }

  /* header background when stuck and not hovered */
}

/* stick wrapper with the same color as the desktop/mobile header */

:global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
  background-color: #f0f0f0;
}

/* resize the logo for neat effect */

:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-store-components-3-x-logoLink) {
  transform: scale(0.85);
}

@media (prefers-reduced-motion: reduce) {
  :global(.vtex-sticky-layout-0-x-container) {
    :global(.vtex-store-components-3-x-logoLink),
    :global(.vtex-minicart-2-x-openIconContainer),
    :global(.vtex-store-components-3-x-searchBarContainer) {
      transition: none;
    }
  }

  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--navbar) {
    transition: none;
  }
}

/* search bar */

:global(.vtex-store-components-3-x-searchBarContainer) {
  align-self: center;
}

:global(.vtex-flex-layout-0-x-flexRow--navbar) {
  border-block-end: 1px solid #c6c6c6;
}

:global(.vtex-store-components-3-x-searchBarContainer)
  :global(.vtex-input-prefix__group) {
  border-radius: 3px 0 0 3px;
  border: 1px solid #ccc;
  border-right: none;
  height: 25px;
  width: 200px;

  :global(.vtex-styleguide-9-x-input) {
    color: #666;
    font-family: "Raleway", sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    padding-left: 1rem;

    &::placeholder {
      font-family: "Raleway", sans-serif;
      font-size: 11px;
      font-weight: 500 !important;
    }
  }

  :global(.vtex-input__suffix) {
    @media(min-width: 991px){
      background-color: #2a86e4;
      border-radius: 0 3px 3px 0;
      bottom: 0px;
      height: 25px;
      padding-left: 0.5rem;
      padding-right: 0rem;
      position: absolute;
      right: -26px;
    }

    :global(.vtex-store-components-3-x-searchIcon) {
      color: white;
      width: 12px;
    }

    :global(.vtex-store-components-3-x-closeIcon) {
      color: white;      
    }
  }
}

/* i c o n  c a r t */

:global(.vtex-flex-layout-0-x-flexRow--navbar)
  :global(.vtex-minicart-2-x-minicartWrapperContainer) {
  :global(.vtex-minicart-2-x-openIconContainer) {
    padding: 0px;
  }

  :global(.vtex-button) {
    background: transparent;
  }

  :global(.vtex-store-icons-0-x-cartIcon) {
    color: #4d4d4d;

    &:hover {
      color: #8e8e8e;
    }
  }
}

:global(.vtex-minicart-2-x-minicartQuantityBadgeDefault) {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  font-weight: 700;
  height: 14px;
  padding: 0;
  right: -0.4rem;
  top: -0.6rem;
  width: 14px;
}
