/*landing 01*/

.label {
  &--btn-sosten-text,
  &--btn-calzon-text {
    background-color: #ff0289;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.6rem 1.8rem;
  }

  &--btn-categorias {
    font-family: "Raleway", sans-serif;
    background: rgb(255, 255, 255);
    padding: 0.1rem 2rem;
    border: 3px solid white;
    color: #ff028b;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
  }
}

.link {
  &--btn-sosten-text,
  &--btn-calzon-text,
  &--btn-categorias {
    text-decoration: none;
    margin-bottom: 1rem;
  }
}

/*btn tallas - categorías*/

.label {
  &--talla-sosten,
  &--talla-calzon {
    background-color: white;
    border: 0px;
    color: #ff0289;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
  }

  &--talla-sosten{
    padding: 0.3rem 0.4rem;;
  }

  &--talla-calzon{
    padding: 0.3rem 1rem;
  }
}

.link {
  &--talla-sosten,
  &--talla-calzon {
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
    padding: 0 auto;
  }

  &--btn-categoria-dos {
    border: 3px solid #ff028b;
    background: #ff028b;
    padding: 2px 30px;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    width: 70%;
    text-align: center;
    text-decoration: none;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .label {
    &--btn-sosten-text,
    &--btn-calzon-text {
      font-size: 0.9rem;
      padding: 0.6rem 0.9rem;
    }

    &--talla-sosten {
      font-size: 0.9rem;
      padding: 0.3rem;
    }

    &--talla-calzon {
      font-size: 0.9rem;
      padding: 0.3rem 0.6rem;
    }
  }
}

@media screen and (min-width: 1026px) and (max-width: 1279px) {
  .label {
    &--btn-sosten-text,
    &--btn-calzon-text {
      font-size: 0.8rem;
      padding: 0.6rem 0.5rem;
    }

    &--talla-sosten {
      font-size: 0.9rem;
      padding: 0.3rem;
    }

    &--talla-calzon {
      font-size: 0.9rem;
      padding: 0.3rem 0.6rem;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 1025px) {
  .label {
    &--btn-categorias {
      padding: 0.2rem 3rem;
      font-size: 1rem;
    }
  }

  .link {
    &--talla-sosten,
    &--talla-calzon {
      justify-content: center;
      text-decoration: none;
      margin: 0 auto;
      padding: 0 auto;
    }
  
    &--btn-categoria-dos {
      padding: 0.1rem;
      font-size: 0.8rem;
      width: 70%;
      text-align: center;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 639px) {
  .label {
    &--btn-sosten-text,
    &--btn-calzon-text {
      font-size: 0.9rem;
      padding: 0.6rem 0.9rem;
    }
  }

  .link {
    &--talla-sosten,
    &--talla-calzon {
      justify-content: center;
      text-decoration: none;
      margin: 0 auto;
      padding: 0 auto;
    }
  
    &--btn-categoria-dos {
      font-size: 0.6rem;
      width: 75%;
      padding: 0.1rem 0.5rem;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 490px) {
  .label {
    &--btn-categorias {
      padding: 0.1rem 0.5rem;
      font-size: 1rem;
    }
  }

  .link {
    &--btn-categoria-dos {
      font-size: 0.4rem;
      width: 75%;
      padding: 0rem 0.1rem;
      text-decoration: none;
    }
  }
}


