.notificationBarContainer {
  background-image: url(https://kayserltda.vteximg.com.br/arquivos/fondo-bottonBar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: 900;
  font-size: 11px;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 90%;
}

@media (max-width: 991px) {
  .container {
    width: 95%;
  }
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

:global(.vtex-flex-layout-0-x-flexRow--menu-footer) .label {
  color: #666;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  width: 60%;
  white-space: break-spaces;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;

  :global(.vtex-styleguide-9-x-hideDecorators) {
    background-color: transparent;
    color: #fff;
    border: none;

    &::placeholder {
      color: #fff;
      font-size: 16px;
    }
  }

  :global(.vtex-button) {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-right: -24px;
  }
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .infoCardContainer--info-card-home {
    .infoCardTextContainer {
      width: 30%;
    }

    .infoCardImageContainer {
      width: 70%;
    }
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview {
  .carouselContainer {
    justify-content: flex-start;
  }

  .productImageTag {
    object-fit: cover !important;
  }

  .carouselGaleryThumbs {
    display: none;
  }

  .carouselGaleryCursor {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

:global(.vtex-product-context-provider) .container {
  max-width: 90%;
}

.sizeDesktop {
  padding-left: 0px;
}

.imageElement--lovelust-img {
  margin-left: 1rem;
}

.skuSelectorItemImageValue {
  position: relative;
  top: -17px;
}

/* pdp kayser */
:global(.vtex-stack-layout-0-x-stackContainer--product) {
  .productImagesGallerySlide::before,
  .figure::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.045);
  }
  .carouselGaleryThumbs {
    @media (min-width: 991px) {
      width: 25% !important;
    }
  }
  .carouselGaleryCursor {
    cursor: default;
    padding-left: 3px;
    @media (min-width: 991px) {
      margin-left: 25%;
      width: 75%;
    }
    .swiperPaginationClickable {
      @media (min-width: 991px) {
        display: none;
      }
      .swiperBullet {
        color: gray;
        &--active {
          color: #2a86e4;
        }
      }
    }
  }

  .productImagesThumb {
    margin-bottom: 3px;
  }
}

:global(.vtex-flex-layout-0-x-flexCol--right-col) {
  .productBrand--quickview {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
  }
  :global(.vtex-product-identifier-0-x-product-identifier--productReference) {
    color: #4d4d4d;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 400;

    :global(.vtex-product-identifier-0-x-product-identifier__label) {
      font-size: 0;

      &::before {
        content: "Cod";
        font-size: 13px;
      }
    }
  }

  :global(.vtex-product-price-1-x-listPrice) {
    color: #666;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  :global(.vtex-product-price-1-x-sellingPriceValue) {
    color: #ff0000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 800;
  }

  :global(.vtex-product-price-1-x-currencyCode) {
    margin-right: 4px;
  }

  .skuSelectorName,
  .skuSelectorNameSeparator {
    color: #888;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 800;
  }

  :global(.vtex-store-components-3-x-skuSelectorSelectorImageValue) {
    display: none;
  }

  .skuSelectorSubcontainer--talla,
  .skuSelectorSubcontainer--copa {
    .skuSelectorTextContainer {
      @media (max-width: 990px) {
        text-align: center;
        margin-top: 0.5rem;
      }
    }
    .skuSelectorNameContainer {
      @media (max-width: 990px) {
        margin: 0 auto;
      }
    }
    .skuSelectorName {
      &::after {
        content: ":";
      }
    }

    .skuSelectorItem {
      height: auto;
    }

    .skuSelectorInternalBox {
      border: revert;
      &:hover {
        box-shadow: 3px 3px 2px rgb(79 135 224 / 60%);
        transition: all 0.4s ease-in-out;
      }
    }

    .skuSelectorItemTextValue {
      border: 1px solid #ccc;
      border-radius: 3px;
      font-family: "Raleway", sans-serif;
      font-size: 13px;
      font-weight: 800;
      padding: 0.4rem;
      &:hover {
        background-color: #2a86e4;
        border: 1px solid #ccc;
        color: white;
        transition: all 0.4s ease-in-out;
      }
    }

    .skuSelectorItem--selected {
      background-color: #2a86e4;
      border-radius: 3px;
      box-shadow: 3px 3px 2px rgb(79 135 224 / 60%);

      .skuSelectorItemTextValue {
        color: white;
      }
    }

    .frameAround {
      display: none;
    }
  }

  .diagonalCross {
    background-image: linear-gradient(
      to top left,
      transparent 44%,
      rgba(255, 0, 0, 0.2) 50%,
      currentColor 48%,
      currentColor 52%,
      transparent 52%
    );
    opacity: 0.2;
    cursor: not-allowed;
  }

  .valueWrapper--unavailable {
    cursor: none;
    pointer-events: none;
    opacity: 0.2;
    &:hover {
    }
  }

  :global(.vtex-product-quantity-1-x-quantitySelectorTitle) {
    display: none;
  }

  :global(.vtex-numeric-stepper-container) {
    @media (max-width: 990px) {
      justify-content: center;
    }
    :global(.vtex-numeric-stepper__minus-button),
    :global(.vtex-numeric-stepper__plus-button) {
      background-color: white;
      border: 1px solid #ccc;
      height: 36px;
    }
  }

  :global(.vtex-numeric-stepper__minus-button__text),
  :global(.vtex-numeric-stepper__plus-button__text) {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  :global(.vtex-numeric-stepper__input) {
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccc;
    color: #666;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 36px;
    width: 48px;
  }

  :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
    margin-bottom: 0;
  }

  :global(.vtex-modal-layout-0-x-triggerContainer) {
    align-self: center;

    :global(.vtex-menu-2-x-styledLinkContainer) {
      margin-left: 0;
      margin-right: 0;
    }

    :global(.vtex-menu-2-x-styledLinkContent) {
      justify-content: flex-start;
      align-items: center;
      color: #4d4d4d;
      font-weight: bold;
      font-size: 13px;
      font-family: "Raleway", sans-serif;
      @media (max-width: 990px) {
        justify-content: center;
        margin-bottom: 0.5rem;
      }
    }
  }

  :global(.vtex-button) {
    background-color: #2a86e4;
    border: none;
    height: 36px;
    min-height: 36px;
  }

  :global(.vtex-button__label) {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: capitalize;
  }

  :global(.vtex-menu-2-x-styledLinkContainer--caracteristicas-producto) {
    margin-left: 0;
  }

  :global(.vtex-menu-2-x-menuItem--caracteristicas-producto)
    :global(.vtex-menu-2-x-styledLinkContent--caracteristicas-producto) {
    align-items: center;
    color: #4d4d4d;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }

  :global(.vtex-menu-2-x-accordionIcon--caracteristicas-producto) {
    color: #4d4d4d;
    font-size: 20px;
  }

  :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) {
    .productDescriptionTitle {
      display: none;
    }

    :global(.vtex-menu-2-x-submenuAccordion) {
      display: block;
      text-align: center;
      padding-left: 0;
      @media (max-width: 990px) {
        text-align: left;
      }
      :global(.vtex-flex-layout-0-x-flexRowContent) {
        margin-bottom: 0;

        :global(.vtex-store-components-3-x-productDescriptionText) {
          color: #4d4d4d;
          font-family: "Raleway", sans-serif;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
  }

  :global(.vtex-store-components-3-x-shareLabel) {
    font-size: 0;

    &::after {
      color: #4d4d4d;
      content: "Comparte este producto:";
      font-size: 13px;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
    }
  }

  :global(.vtex-button):hover {
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
  }

  :global(.vtex-flex-layout-0-x-flexRow--buy-button)
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    @media (min-width: 991px) {
      width: fit-content !important;
    }
  }

  //MOBILE BUTTONS
  :global(.vtex-flex-layout-0-x-flexRowContent--buy-button-mobile) {
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
      padding-right: 0;
    }
    // QTY MOBILE
    :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
      :global(.vtex-product-quantity-1-x-quantitySelectorStepper) {
        :global(.vtex-numeric-stepper-wrapper) {
          :global(.vtex-numeric-stepper-container) {
            :global(.vtex-numeric-stepper__input) {
              width: 2rem;
            }

            :global(.vtex-numeric-stepper__plus-button-container) {
              :global(.vtex-numeric-stepper__plus-button) {
                width: 1.7rem !important;
              }
            }

            :global(.vtex-numeric-stepper__minus-button-container) {
              :global(.vtex-numeric-stepper__minus-button) {
                width: 1.7rem !important;
              }
            }
          }
        }
      }
    }

    // WISH LIST MOBILE
    :global(.vtex-wish-list-1-x-wishlistIconContainer) {
      text-align: center;
      :global(.vtex-button) {
        background-color: transparent;
        :global(.vtex-button__label) {
          padding-left: 0;
          padding-right: 0;
          :global(.vtex-wish-list-1-x-outline) {
            background: url(/arquivos/heart.svg) no-repeat;
            background-position: center;
            background-size: 1.2rem;
          }
        }
      }
    }
  }
}
/* end pdp kayser */

/* colors kayser */

.skuSelectorContainer {
  .skuSelectorSubcontainer--color {
    .skuSelectorNameContainer {
      @media (max-width: 990px) {
        margin: 0 auto;
      }
      .skuSelectorOptionsList {
        .skuSelectorItem {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          .skuSelectorInternalBox {
            border-radius: 50%;
          }
          .frameAround {
            border: 2px solid #2a86e4;
            box-shadow: 3px 2px 3px rgb(107 107 107 / 60%);
            border-radius: 50%;
            bottom: -0.15rem;
            left: -0.15rem;
            right: -0.15rem;
            top: -0.15rem;
          }
          .skuSelectorItemImageValue {
            display: none;
          }
          &--fucsia {
            background-color: fuchsia;
          }
          &--gris {
            background-color: gray;
          }
          &--morado {
            background-color: violet;
          }
          &--rosado {
            background-color: fuchsia;
          }
          &--negro {
            background-color: black;
          }
          &--calipso {
            background-color: #81b9ca;
          }
          &--blanco {
            background-color: #fafafa;
          }
          &--verde {
            background-color: green;
          }
          &--azul {
            background-color: blue;
          }
          &--turquesa {
            background-color: turquoise;
          }
          &--coral {
            background-color: coral;
          }
          &--damasco {
            background-color: #fbceb1;
          }
          &--cafe {
            background-color: brown;
          }
          &--marfil {
            background-color: #e6d690;
          }
          &--verde-limon {
            background-color: #e3ff00;
          }
          &--rojo {
            background-color: red;
          }
          &--burdeo {
            background-color: #b03648;
          }
          &--petroleo {
            background-color: #0f415b;
          }
          &--celeste {
            background-color: skyblue;
          }
          &--azul-negro-gris,
          &--blanco-negro-beige {
            background: url(https://kayserltda.vteximg.com.br/arquivos/multi-color.png);
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
          }
          &--azul-marino {
            background-color: navy;
          }
          &--beige {
            background-color: beige;
          }
          &--lila {
            background-color: #c8a2c8;
          }
          &--natural {
            background-color: #ffefd1;
          }
          &--cognac {
            background-color: #fcc458;
          }
          &--naranjo {
            background-color: orange;
          }
          &--transparente {
            background-color: transparent;
          }
          &--piel {
            background-color: #fcd0b4;
          }
          &--leopardo {
            background: linear-gradient(to right bottom, #fbb62d, #000000);
          }
          &--surtido {
            background: linear-gradient(
              135deg,
              #e82e2e 0%,
              #41d62a 33%,
              #f6f931 62%,
              #002aff 100%
            );
          }
        }
      }
    }
  }
}

/* end colors kayser */

/* vtex toast */
:global(.vtex-toast) {
  background-color: #2a86e4;
  @media (max-width: 990px) {
    font-size: 0.9rem;
  }
}



//IMAGEN SHELF 1

.imageElement--img-shelf {
  width: 100%;
  padding-right: 0;
  max-width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

//IMAGEN SHELF 2

.imageElement--img-shelf-2 {
  width: 100%;
  padding-right: 0;
  max-width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.img-banner {
  width: 45%;
}

//LANDING PARA TI

@media screen and (max-width: 639px) {
  .imageElement {
    &--img-categoria-dos {
      width: 0;
      margin: 1rem;
    }
  }
}
//ENDLANDING PARA TI
