.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
}

.sliderTrackContainer {
  max-width: 1920px;
}

.sliderLayoutContainer--carousel {
  .sliderArrows--carousel {
    background: #2a86e4 !important;
    border-radius: 50%;
    color: white;
    height: 20px;
    width: 20px;
  }

  .sliderLeftArrow--carousel {
    left: 30px;
  }

  .sliderRightArrow--carousel {
    right: 30px;
  }
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

/* vitrina de productos */

.sliderLayoutContainer--shelf {
  padding-left: 0px !important;
  padding-right: 0px !important;
  .sliderArrows {
    background: #2a86e4 !important;
    border-radius: 50%;
    color: white;
    height: 20px;
    width: 20px;
  }
  .slide--shelf {
    margin-bottom: 25px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @media (max-width: 991px) {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    :global(.vtex-button) {
      background-color: #2a86e4;
      border: none;
      font-family: "Raleway", sans-serif;
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 0.04em;
      margin-top: 0.5rem;
      min-height: 30px;
      text-transform: capitalize;
      margin: 0 auto;
      width: 90%;
    }
    :global(.vtex-product-price-1-x-sellingPriceValue--summary) {
      color: #ff0000;
      font-family: "Raleway", sans-serif;
      font-size: 17px;
      font-weight: 800;
    }
    :global(.vtex-product-price-1-x-listPriceValue--summary) {
      color: #999;
      font-family: "Raleway", sans-serif;
      font-size: 13px;
      font-weight: 600;
    }
    :global(.vtex-product-summary-2-x-brandName) {
      color: #2e2e2e;
      font-family: "Raleway", sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .slideChildrenContainer--shelf {
      background-color: #f2f2f2;
      border: 1px solid rgba(204, 204, 204, 0.9);
    }
    :global(.vtex-product-summary-2-x-element) {
      padding-top: 0;
      //WISHLIST
      :global(.vtex-wish-list-1-x-wishlistIconContainer) {
        @media(min-width: 991px){
          display: none;
        }
        :global(.vtex-button) {
          background: transparent;
          bottom: 8.5rem;
          position: absolute;
          right: 0.8rem;
          width: 100%;
          :global(.vtex-button__label) {
            justify-content: flex-end;
            padding-left: 0;
            padding-right: 0;
            :global(.vtex-wish-list-1-x-wishlistIcon) {
              position: relative;
              z-index: 99;
              background: url(/arquivos/heart.svg) no-repeat;
              background-position: center;
              background-size: 1.4rem;
            }
          }
        }
      }
      :global(.vtex-wish-list-1-x-wishlistIconContainer) {
        @media (min-width: 992px) {
          display: none;
        }
      }
      :global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
        @media (min-width: 992px) {
          display: none;
        }
      }
      :global(.vtex-product-summary-2-x-imageStackContainer)::before {
        background: rgba(0, 0, 0, 0.045);
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
      }
      :global(.vtex-product-summary-2-x-image) {
        height: 100% !important;
        border-radius: 0;
        z-index: 98;
      }
    }
  }
  :global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
    display: none;
  }
}

/* vitrina XXL */
@media (min-width: 991px) {
  :global(.vtex-flex-layout-0-x-flexRow--xxl-vitrina) {
    background-image: url(https://kayserltda.vteximg.com.br/arquivos/Si%20llegamos%20a%20xxL%201300x600_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
  }
}
