// .productHighlightText{
//   position: absolute;
//   width: 48px;
//   height: 55px;
//   font-size: 13px;
//   color: transparent;
//   display: none;
//   background-size: contain !important;
//   left: 0px !important;
//   z-index: 8 !important;
//   background-position: center center !important;
//   background-repeat: no-repeat !important;
//   &[data-highlight-name="Avance de Temporada OTOÑO INVIERNO 2021"]{
//     background-image: url('https://kayserltda.vteximg.com.br/arquivos/FLAG3X9999.png');
//     display: inline-block;
//   }
//   &[data-highlight-name="Día de la Mujer"]{
//     background-image: url('https://kayserltda.vteximg.com.br/arquivos/FLAG3X9999.png');
//     display: inline-block;
//   }
// }

.productHighlightText{
    display: none;
}