.searchResultContainer{
  :global(.vtex-flex-layout-0-x-flexRow){
    :global(.vtex-store-components-3-x-container){
      width: 100%;
    }
  }
}

.gallery{
  padding-left: 0;
  .galleryItem{
    :global(.vtex-product-summary-2-x-container){
      background-color: #f2f2f2;
      border: 1px solid rgba(204,204,204,0.9);
      position: relative;
      :global(.vtex-product-summary-2-x-element){
        padding-top: 0;

        //WISHLIST
        :global(.vtex-wish-list-1-x-wishlistIconContainer){
          display: none;
          @media(min-width: 992px){
            display: none;
          }
          :global(.vtex-button){
            background: transparent;
            bottom: 40%;
            position: absolute;
            right: .3rem;
            display: block;
            width: 100%;
            :global(.vtex-button__label){
              justify-content: flex-end;
              :global(.vtex-wish-list-1-x-wishlistIcon){
                position: relative;
                z-index: 9;
              }
            }
          }
        }

        //IMAGEN
        :global(.vtex-stack-layout-0-x-stackContainer){
          :global(.vtex-stack-layout-0-x-stackItem){
            :global(.vtex-product-summary-2-x-imageStackContainer){
              &::before{
                background: rgba(0,0,0,0.045);
                content: "";
                height: 100%;
                position: absolute;
                width: 100%;
                z-index: 10;
              }
              :global(.vtex-product-summary-2-x-image){
                border-radius: 0;
                height: 100% !important;
                z-index: 9;
              }

            }
          }
        }
        
        //NOMBRE
        :global(.vtex-product-summary-2-x-nameContainer){
          // border-left: 1px solid rgba(204,204,204,0.9);
          // border-right: 1px solid rgba(204,204,204,0.9);
          :global(.vtex-product-summary-2-x-productNameContainer){
            :global(.vtex-product-summary-2-x-brandName){
              color: #2e2e2e;
              font-size: 12px;
              font-family: 'Raleway', sans-serif;
              font-weight: 700;
            }
          }
        }
      }

      :global(.vtex-product-summary-2-x-spacer){
        // border-right: 1px solid rgba(204,204,204,0.9);
        // border-left: 1px solid rgba(204,204,204,0.9);
      }
      //PRECIO
      :global(.vtex-product-price-1-x-listPrice--summary){
        // border-right: 1px solid rgba(204,204,204,0.9);
        // border-left: 1px solid rgba(204,204,204,0.9);
        margin-bottom: 0;
        padding-bottom: .25rem;
      }
      :global(.vtex-flex-layout-0-x-flexRow--selling-price){
        // border-right: 1px solid rgba(204,204,204,0.9);
        // border-left: 1px solid rgba(204,204,204,0.9);
        :global(.vtex-flex-layout-0-x-flexRowContent--selling-price){
          :global(.vtex-product-price-1-x-sellingPrice--summary){
            :global(.vtex-product-price-1-x-sellingPriceValue--summary){
              font-size: 17px;
              font-family: 'Raleway', sans-serif;
              color: #ff0000;
              font-weight: 800;
            }
          }
        }
      }

      //COMPRAR
      :global(.vtex-button){
        @media(max-width: 990px){
          display: none;
        }
        border: 0;
        background: #2a86e4;
        font-family: "Raleway",sans-serif;
        font-size: 13px;
        font-weight: 800;
        letter-spacing: 0.04em;
        margin-top: .5rem;
        min-height: 30px;
        text-transform: capitalize;
        margin: 0 auto;
        width: 85%;
        :global(.vtex-button__label){

        }
      }
    }
  }
  :global(.vtex-modal-layout-0-x-triggerContainer--quickview){
    @media(min-width: 991px) {
      display: none;
    }
  }
}

.buttonShowMore--layout{
  margin-top: 3rem;
  margin-bottom: 3rem;
  .buttonShowMore{
    :global(.vtex-button){
      border: 0;

    }
  }
}

// DEPTO MOBILE
@media(max-width: 991px){
  .searchResultContainer:global(.vtex-store-components-3-x-container){
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    .gallery{
      .galleryItem{
        padding: 0 .1rem .5rem;
        :global(.vtex-product-summary-2-x-container){
          :global(.vtex-product-summary-2-x-element){
            :global(.vtex-wish-list-1-x-wishlistIconContainer){
              :global(.vtex-button){
                background: transparent;
                bottom: 45%;
                position: absolute;
                right: .1rem;
                width: 100%;
                :global(.vtex-button__label){
                  justify-content: flex-end;
                  :global(.vtex-wish-list-1-x-wishlistIcon){
                    position: relative;
                    z-index: 99;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// VER MAS
.buttonShowMore--layout{
  .buttonShowMore{
    :global(.vtex-button){
      background-color: #2a86e4;
      border: none;
      border-radius: 0;
      font-family: 'Raleway', sans-serif;
      padding: .5rem 1rem;
    }
  }
}

// BOTONERA FILTROS MOBILE
:global(.vtex-flex-layout-0-x-flexRow--mobile-3-btn){
  border-bottom: 1px solid rgba(204,204,204,0.9);
  margin-bottom: 2rem;
  :global(.vtex-store-components-3-x-container){
    padding-left: 0;
    padding-right: 0;
    :global(.vtex-flex-layout-0-x-flexRowContent--mobile-3-btn){
      align-items: center;
      justify-content: center;
      :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        &:nth-child(even){
          border-left: 1px solid rgba(204,204,204,0.9);
          border-right: 1px solid rgba(204,204,204,0.9);
          width: 40% !important;
        }
        // ORDER BY
        :global(.vtex-flex-layout-0-x-flexCol--orderByMobileCol){
          :global(.vtex-flex-layout-0-x-flexColChild--orderByMobileCol){
            .orderBy--layout{
              .orderByDropdown{
                padding-top: 0;
                .orderByButton{
                  padding-bottom: 0;
                  padding-top: 0;
                  text-align: left;
                  .filterPopupTitle{
                    font-family: 'Raleway', sans-serif;
                    font-size: .9rem;
                    text-transform: capitalize;
                    .orderByText{
                      display: none;
                    }
                  }
                } 

                .orderByOptionsContainer{
                  z-index: 99;
                  .orderByOptionItem{
                    font-family: 'Raleway', sans-serif;
                  }
                }
              }
            }
          }
        }

        // FILTER
        :global(.vtex-flex-layout-0-x-flexCol--filterMobileCol){
          :global(.vtex-flex-layout-0-x-flexColChild--filterMobileCol){
            .filters--layout{
              .filters{
                .filtersWrapperMobile{
                  .filterPopupButton{
                    width: 80%;
                    .filterPopupTitle{
                      font-family: 'Raleway', sans-serif;
                      margin-left: 0;
                      text-transform: capitalize;
                    }
                  }
                }
              }
            }
          }
        }

        //GRID
        :global(.vtex-flex-layout-0-x-flexCol--switcherMobile){
          :global(.vtex-flex-layout-0-x-flexColChild--switcherMobile){
            padding-left: 1rem;
            padding-right: 1rem;
            .galleryLayoutSwitcher{
              .galleryLayoutOptionButton{
                padding-left: 0;
                padding-right: 0;
                &:nth-child(odd){
                  margin-right: .8rem;
                  :global(.vtex-store-icons-0-x-gridIcon){
                    background: url(/arquivos/grid-2.svg) no-repeat;
                    background-position: center;
                    color: transparent;
                  }
                }
                &:nth-child(even){
                  :global(.vtex-store-icons-0-x-gridIcon){
                    background: url(/arquivos/grid-1.svg) no-repeat;
                    background-position: center;
                    color: transparent;
                  }
                }
                &--selected{
                  padding: .2rem;
                  background: #f0f0f0;
                  border-radius: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// FILTER SIDEBAR MOBILE
.sidebar{
  width: 90%;
  .accordionFilter{
    .filterAccordionBreadcrumbs{
      .filterBreadcrumbsContent{
        .filterBreadcrumbsText{
          font-family: 'Raleway', sans-serif;
          font-weight: 600;
          font-size: 1rem;
        }
      }
      .filterBreadcrumbsItem{
        .caretIcon{
          width: 10px;
          padding-left: .5rem;
        }
        .filterBreadcrumbsItemName{
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
    
    // ACOR ITEM
    .accordionFilterContainer{
      .accordionFilterItem{
        .accordionFilterContent{
          .accordionFilterItemTitle{
            font-family: 'Raleway', sans-serif;
            font-size: 1rem;
          }
        }
      }
    }

    .accordionFilterOpen{
      .filterAccordionItemBox{
        font-family: 'Raleway', sans-serif;
        :global(.vtex-checkbox__line-container){
          :global(.vtex-checkbox__container){
            :global(.vtex-checkbox__inner-container){
              border-radius: 50%;
              border-width: 1px;
            }
          }
        }
      }
    }
  }
  
  //BOTONES FILTRO MOBILE
  .filterButtonsBox{
    .filterClearButtonWrapper{
      :global(.vtex-button){
        font-family: 'Raleway', sans-serif;
        color: #2a86e4;
        font-weight: 600;
        text-transform: capitalize;
      }
    }

    .filterApplyButtonWrapper{
      :global(.vtex-button){
        background: #2a86e4;
        border: none;
        border-radius: 0;
        font-family: 'Raleway', sans-serif;
        color: white;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }
}

// FILTER SIDEBAR DESKTOP
@media(min-width: 991px){
  :global(.vtex-flex-layout-0-x-flexCol--filterCol){
    :global(.vtex-flex-layout-0-x-flexColChild--filterCol){
      .filters--layout{
        .filtersWrapper{
          font-family: 'Raleway', sans-serif;
          .filter__container{
            
            .filter{
              .filterTitle{
                color: #4d4d4d;
                font-size: .9rem;
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                text-transform: capitalize;

              }
            }
            .filterMessage{
              font-family: 'Raleway', sans-serif;
              font-size: 1rem;
              font-weight: 600;
            }
            .filterTemplateOverflow{
              .selectedFilterItem{
                :global(.vtex-checkbox__line-container){
                  align-items: center;
                  :global(.vtex-checkbox__inner-container){
                    border-radius: 50%;
                  };
                  :global(.vtex-checkbox__label){
                    color: #444;
                    font-size: .8rem;
                    text-transform: capitalize;
                    font-weight: bold;
                  }
                }
              }

              .filterContent{
                .filterItem{
                  
                  :global(.vtex-checkbox__line-container){
                    align-items: center;
                    :global(.vtex-checkbox__inner-container){
                      border-radius: 50%;
                    };
                    :global(.vtex-checkbox__label){
                      color: #444;
                      font-size: .8rem;
                      text-transform: capitalize;
                    }
                  }
                }
              }
            }

            &--category-1,
            &--promociones{
              display: none;
            }
            &--priceRange{
              .filter{
                .filterTitle{
                  font-size: 0;
                  &::before{
                    content: 'Rango de Precios';
                    font-size: .9rem;
                  }
                }
              }
            }
            &--category-4{
              .filter{
                .filterTitle{
                  font-size: 0;
                  &::before{
                    content: 'Sub-Categoría';
                    font-size: .9rem;
                  }
                }
              }
            }
            // CATEGORIA COLORES 
            &--color{
              .filterTemplateOverflow{
                .filterContent{
                  display: inline-flex;
                  width: 200px;
                  gap: .3rem;
                  flex-wrap: wrap;
                  .filterItem{
                    box-shadow: 1px 1px 1px rgba(68, 68, 68, 0.2);
                    border-radius: 50%;
                    height: 15px;
                    width: 15px;
                    :global(.vtex-checkbox__line-container){
                      :global(.vtex-checkbox__container){
                        display: none;
                      }
                      :global(.vtex-checkbox__label){
                        font-size: 0;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                      }
                    }
                    &:hover{
                      box-shadow: 1px 1px 1px #2a86e4;
                    }
                    &--fucsia{
                      background-color: fuchsia;
                    }
                    &--gris{
                      background-color: gray;
                    }
                    &--morado{
                      background-color: violet;
                    }
                    &--rosado{
                      background-color: fuchsia;
                    }
                    &--negro{
                      background-color: black;
                    }
                    &--calipso{
                      background-color: #81b9ca;
                    }
                    &--blanco{
                      background-color: #fafafa;
                    }
                    &--verde{
                      background-color: green;
                    }
                    &--azul{
                      background-color: blue;
                    }
                    &--turquesa{
                      background-color: turquoise;
                    }
                    &--coral{
                      background-color: coral;
                    }
                    &--damasco{
                      background-color: #FBCEB1;
                    }
                    &--cafe{
                      background-color: brown;
                    }
                    &--marfil{
                      background-color: #e6d690;
                    }
                    &--verde-limon{
                      background-color: #E3FF00;
                    }
                    &--rojo{
                      background-color: red;
                    }
                    &--burdeo{
                      background-color: #B03648;
                    }
                    &--petroleo{
                      background-color: #0f415b;
                    }
                    &--celeste{
                      background-color: skyblue;
                    }
                    &--azul-negro-gris,
                    &--blanco-negro-beige{
                      background: url(https://kayserltda.vteximg.com.br/arquivos/multi-color.png);
                      background-size: cover !important;
                      background-position: center !important;
                      background-repeat: no-repeat !important;
                    }
                    &--azul-marino{
                      background-color: navy;
                    }
                    &--beige{
                      background-color: beige;
                    }
                    &--lila{
                      background-color: #C8A2C8;
                    }
                    &--natural{
                      background-color: #ffefd1;
                    }
                    &--cognac{
                      background-color: #fcc458;
                    }
                    &--naranjo{
                      background-color: orange;
                    }
                    &--transparente{
                      background-color: transparent;
                    }
                    &--piel{
                      background-color: #FCD0B4;
                    }
                    &--leopardo {
                      background: linear-gradient(to right bottom, #fbb62d, #000000);
                    }
                    &--surtido{
                      background: linear-gradient(
                        135deg,
                        #e82e2e 0%,
                        #41d62a 33%,
                        #f6f931 62%,
                        #002aff 100%
                      );
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// ORDENAR POR DESKTOP
@media(min-width: 991px){
  :global(.vtex-flex-layout-0-x-flexRow--breadcrumb){
    align-self: center;
  }
  .orderBy--layout{
    .orderByDropdown{
      .orderByButton{
        .filterPopupTitle{
          text-transform: capitalize;
          .orderByText{
            color: #4d4d4d;
            font-size: .9rem;
            font-weight: 700;
            text-transform: capitalize;
          }
        }
      }

      // OPCIONES
      .orderByOptionsContainer{
        top: 3rem;
        z-index: 11;
        .orderByOptionItem{
          font-family: 'Raleway', sans-serif;
          font-weight: 500;
          font-size: .9rem;
        }
      }
    }
  }
}


// OOPS SEARCH
.searchNotFound{
  @media(min-width: 991px){
    height: 6rem;
  }
  margin-top: 3rem;
  .searchNotFoundOops{
    display: none;
  }
  .searchNotFoundInfo{
    font-size: 0;
    @media(max-width: 990px){
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
    &::before{
      content: 'Lo sentimos, no encontramos resultados para su búsqueda';
      font-size: 1.4rem;
      font-weight: 600;
      align-self: center;
    }
    .searchNotFoundWhatDoIDo{
      &::after{
        content: 'Compruebe si hay errores tipográficos | Intenta utilizar una sola palabra | Utilice sinónimos o términos más genéricos';
        font-size: 1rem;
      }
    }
  }
}