.row--menu-footer {
  padding-right: 24px;

  .rowContainer {
    align-items: flex-start;
  }
}

:global(.vtex-flex-layout-0-x-flexRow--menu-footer) {
  background: #f4f4f4;
  margin-top: 3rem;
  padding: 2.5rem 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-footer) {
  padding-bottom: 0;
  padding-top: 0;
}

:global(.vtex-flex-layout-0-x-flexRow--menu-footer) {
  :global(.vtex-store-components-3-x-container) {
    justify-content: space-between;
    width: 80%;
  }

  :global(.vtex-store-components-3-x-newsletter) {
    :global(.vtex-store-components-3-x-container) {
      width: 100%;
      padding-bottom: 0;
      padding-top: 0;
    }

    :global(.vtex-store-components-3-x-form) {
      text-align: left;
    }

    :global(.vtex-button) {
      background: #2a86e4;
      border-radius: 0;
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      font-weight: 700;
      min-height: 30px;
      text-transform: capitalize;
      width: 100%;
    }

    :global(.vtex-input__error) {
      font-family: 'Raleway', sans-serif;
      font-size: .8rem;
      font-weight: 500;
      margin-bottom: .4rem;
    }

    :global(.vtex-button__label) {
      justify-content: left;
    }

    :global(.vtex-input-prefix__group) {
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      margin-bottom: .5rem;
    }

    :global(.vtex-styleguide-9-x-input) {
      &::placeholder {
        color: #666;
        font-family: 'Raleway', sans-serif;
        font-size: 11px;
        font-style: italic;
      }

      padding-left: 0;
      padding-right: 0;
    }

    :global(.vtex-store-components-3-x-inputGroup) {
      display: block;
    }

    :global(.vtex-store-components-3-x-buttonContainer) {
      padding-left: 0;
    }
  }

  :global(.vtex-menu-2-x-menuContainerNav) {
    :global(.vtex-menu-2-x-styledLinkContent) {
      align-items: center;
      color: #4d4d44;
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      font-weight: 400;
      justify-content: start;

      &:hover {
        color: #8e8e8e;
      }
    }

    :global(.vtex-menu-2-x-menuItem--menu-title) {
      :global(.vtex-menu-2-x-styledLinkContent) {
        color: #666;
        cursor: default;
        font-family: 'Raleway', sans-serif;
        font-size: 15.6px;
        font-weight: 800;
        margin-bottom: 22px;
        white-space: break-spaces;
        width: 60%;
      }

      :global(.vtex-menu-2-x-styledLinkContainer--menu-title) {
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }
}

/* footer: busquedas */

:global(.vtex-flex-layout-0-x-flexRowContent--busquedas-footer) {
  border-top: 1px solid #2a86e4;

  :global(.vtex-menu-2-x-menuContainer) {
    justify-content: center;
    flex-wrap: wrap;
  }

  :global(.vtex-menu-2-x-styledLinkContent)::after {
    content: '-';
    margin-left: 1.1rem;
  }

  :global(.vtex-menu-2-x-styledLinkContainer) {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  :global(.vtex-menu-2-x-styledLinkContent) {
    align-items: center;
    color: #4d4d44;
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    font-weight: 400;
    justify-content: start;
    padding: .5rem .7rem;
  }

  :global(.vtex-menu-2-x-menuContainerNav) {
    padding: 2.5rem 0;
  }
}

.row--payment-methods {
  padding-top: 16px;
}

/* footer mobile */

.footerLayout--footer-mobile {
  background-color: #f4f4f4;

  :global(.vtex-menu-2-x-menuContainerNav) {
    :global(.vtex-menu-2-x-styledLinkContent) {
      align-items: center;
      color: #4d4d44;
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      font-weight: 400;
      justify-content: start;
      padding: .7rem 0;
    }

    :global(.vtex-menu-2-x-menuItem) {
      border-bottom: 1px solid #ccc;
    }

    :global(.vtex-menu-2-x-menuItem--menu-title-catalogo) {
      border-bottom: none;
    }
  }

  :global(.vtex-store-components-3-x-imageElement--img-catalogo) {
    margin-left: 1.5rem;
  }
  

  :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuItem--menu-title) :global(.vtex-menu-2-x-styledLinkContent), :global(.vtex-menu-2-x-menuItem--menu-title-catalogo) :global(.vtex-menu-2-x-styledLinkContent) {
    color: #666;
    cursor: default;
    font-family: 'Raleway', sans-serif;
    font-size: 15.6px;
    font-weight: 800;
    margin-top: 1.5rem;
    white-space: break-spaces;
    width: 40%;
  }

  :global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container) {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  :global(.vtex-store-components-3-x-label) {
    color: #666;
    display: block;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-align: left;
    width: 60%;
    white-space: break-spaces;
  }

  :global(.vtex-store-components-3-x-inputGroup) :global(.vtex-styleguide-9-x-hideDecorators) {
    background-color: transparent;
    border: none;
    color: #fff;
  }

  :global(.vtex-store-components-3-x-newsletter) {
    :global(.vtex-input-prefix__group) {
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      margin-bottom: .5rem;
    }

    :global(.vtex-button) {
      background: #2a86e4;
      border-radius: 0;
      color: white;
      display: block;
      font-family: 'Raleway',sans-serif;
      font-size: 13px;
      font-weight: 700;
      min-height: 30px;
      text-transform: capitalize;
      width: 100%;
    }

    :global(.vtex-button__label) {
      justify-content: flex-start;
    }

    :global(.vtex-styleguide-9-x-input)::placeholder {
      color: #666;
      font-family: 'Raleway', sans-serif;
      font-size: 11px;
      font-style: italic;
      text-align: left;
    }

    :global(.vtex-store-components-3-x-inputGroup) {
      display: block;
    }
  }

  :global(.vtex-store-components-3-x-inputGroup) {
    padding-top: .4rem;
  }

  :global(.vtex-menu-2-x-menuContainerNav--busquedas-footer) {
    border-top: 1px solid #2a86e4;
  }

  :global(.vtex-menu-2-x-menuContainer--busquedas-footer) {
    flex-flow: wrap;
    justify-content: center;
    padding: 2.5rem 0;

    :global(.vtex-menu-2-x-menuItem) {
      border-bottom: none;

      :global(.vtex-menu-2-x-styledLinkContent) {
        padding: .2rem 0;
      }

      :global(.vtex-menu-2-x-styledLinkContainer) {
        margin-left: .2rem;
        margin-right: .2rem;
      }

      :global(.vtex-menu-2-x-styledLinkContent)::after {
        content: '-';
        margin-left: .4rem;
      }
    }
  }
}

/* footer mobile: newsletter */

/* LOGOS FOOTER */

:global(.vtex-flex-layout-0-x-flexRow--credits) {
  padding: 2rem 0;

  :global(.vtex-flex-layout-0-x-flexRowContent--credits) {
    align-items: center;
  }
}