.container{
    @media(max-width: 990px){
        flex-wrap: wrap;
    }
    .markerInfoLink{
        display: none;
    }
    .storesListCol{
        width: 50%;
        height: 600px;
        @media(max-width: 990px){
            width: 100%;
        }
        .storesList{
            .addressList{
                .addressListItem{
                    border: none;
                    border-bottom: 1px solid gray;
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    .addressStoreName{
                        font-size: .95rem;
                        color: #3d7eb1;
                        padding-bottom: 1rem;
                        font-weight: 600;
                        line-height: 1.3;
                    }

                    .addressStoreAddress{
                        font-size: .8rem;
                        color: #4d4d4d;
                        font-weight: 400;
                    }

                    .addressListLink{
                        display: none;
                    }
                }
            }
        }
    }

    .storesMapCol{
        width: 50%;
        @media(max-width: 990px){
            width: 100%;
        }
    }
}